#home-slider .text {
	left: 0px;
	width: 100%;
	h1 {
		font-size: 26px;
		margin-bottom: 10px;
	}
}

.banner-cta {
	margin-top: 15px;
	a {
		font-size: 13px;
		padding: 7px 12px;
	}
}

#home-slider .text-outer {
	top: 25px;
}

.header-contact {
	background: $brand;
	padding: 3px 0 5px 0;
	.mob-menu {
		display: block;
		@include span-columns(1,12);
	}
	.details {
		@include span-columns(11 omega,12);
		padding-top: 10px;
		ul {
			float: right;
		}
		a {
			color: #fff;
			font-size: 11px;
		}
		i {
			color: #fff;
		}
	}
	.top-menu {
		@include span-columns(12 omega,12);
		a {
			color: #fff;
		}

		#menu-top-menu {
			border-top: 1px solid #fff;
			margin-top: 10px;
			padding-top: 10px;
			width: 100%;
			display: none;
			float: left;
			li {

				a {
					color: #fff;
					margin-left: 0px;
					margin-right: 10px;
				}
			}
		}
	}
}

.main-header {
	.main-logo {
//		@include span-columns(12 omega,12);
//		text-align: center;
//		margin-bottom: 15px;
      display: none;
	}
	.main-menu {
//		@include span-columns(12 omega,12);
//		p {
//			float: none !important;
//			text-align: center;
//		}
//		ul {
//			float: none !important;
//			text-align: center;
//		}
      display: none;
	}
}

#searchbox {
	width: 400px;
}

#menu-main-menu {
	display: none;
}

.mob-nav {
	display: block;
}

/*
| ------------------------------------
| Primary Naviagtion
| ------------------------------------
*/

.rel-menu {
	position: relative;
}

.main-menu {
	
	ul {
		@include no-list;
		float: none;
		background: $brand;
		padding: 10px;
	}

	ul li {
		display: list-item;
		margin-bottom: 10px;
		border-bottom: 1px solid #fff;
		padding-bottom: 10px;
		// &:last-child {
		// 	border-bottom: none;
		// }
	}

	ul li a {
		padding: 10px 10px 10px 10px;
		font-family: 'open_sansbold', "Helvetica", sans-serif;
		font-size: 16px;
		color: #fff;
	}

	ul > li > a > i {
		font-size: 12px;
		margin-left: 8px;
		line-height: 1;
		color: #fff !important;
	}

	ul li.menu-last-item a {
		padding-right: 0;
	}

	> ul > li:hover > a {
		color: #fff;

	}

	> ul > li > a:hover {
		border-bottom: none;
	}

	> ul > li.current_page_item > a {
		border-bottom: none;
	}
	/*--- dropdowns first level -*/

	li > ul {
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		background: #f5f5f5;
		z-index: 999;
		width: 100%;
		margin-top: 0px;
		display: none;
		padding: 10px 0;
		-webkit-box-shadow: 2px 2px 10px 0px rgba(50, 50, 50, 0.56);
		-moz-box-shadow:    2px 2px 10px 0px rgba(50, 50, 50, 0.56);
		box-shadow:         2px 2px 10px 0px rgba(50, 50, 50, 0.56);
		> li {
			display: block;
			@include span-columns(3,12);
			@include nth-omega(4n);
			border-bottom: none;
			&:last-child {
				border-bottom: none;
			}
		}

		> li a {
			display: block;
			width: 100%;
			color: #30271e;
			font-family: 'open_sanssemibold', "Helvetica", sans-serif;
			padding: 5px 15px;
		}

		> li:hover a {
			color: darken($dk-grey, 15%);
			
		}
	}

	li:hover > ul {
		display: none;
	}

	li.hover > ul {
		display: block;
	}

	

}
