/*
| ------------------------------------
| Page Responsive
| ------------------------------------
*/

.page-title-wrapper {
	max-height: 230px;
	overflow: hidden;
	position: relative;
	img {
		width: 100%;
	}
	h1 {
		position: absolute;
		top: 15px;
		color: #fff;
		text-shadow: 1px 1px 2px #000;
		background: url(./images/banner_bg.png);
		padding: 10px;
		font-size: 18px;
	}
	.breadcrumb-wrapper {
		background: url(./images/breadcrumb_bg.png);
		position: absolute;
		bottom: 0px;
		width: 100%;
		padding: 10px 0;
		.breadcrumbs {
			p {
				margin-bottom: 0px;
				color: #fff;
				font-family: 'open_sanssemibold', "Helvetica", sans-serif;
				a {
					color: #fff;
				}
			}
		}
	}
}
