/*
| ------------------------------------
| Base styling
| ------------------------------------
*/

@include border-box-sizing;

html,
body {
	font-size: $base-font-size;
}

html  {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
*, *:before, *:after  {
  box-sizing: inherit;
}

body {
	background: $base-background-color;
	font-family: $base-font-family;
	font-size: $base-font-size;
	line-height: $base-line-height;
	font-weight: $base-font-weight;
	color: $base-font-color;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
}

hr {
  border: solid $lt-grey;
  border-width: 1px 0 0;
  clear: both;
  margin: 10px 0 5px 0;
  height: 0;	
}