/*
| ------------------------------------
| Blockquotes
| ------------------------------------
*/

blockquote, blockquote p {
	font-size: $base-font-size + 1;
	line-height: $base-line-height;
	color: $bq-font-color;
	font-style: italic;
}

blockquote {
	margin: $bq-margin;
	padding: $bq-padding;
	border-left: 1px solid #ddd;
}

blockquote cite {
	display: block;
	font-size: $cite-font-size;
	color: $cite-font-color;
	font-weight: 700;
	font-family: $cite-font-family;
	font-style: normal;
}

blockquote cite:before {
	content: "\2014 \0020";
}

blockquote cite a,
blockquote cite a:visited,
blockquote cite a:visited {
	color: $cite-font-color;
}

