/*
| ------------------------------------
| Forms
| ------------------------------------
*/

input[type="text"],
input[type="password"],
input[type="email"],
input[type="search"],
textarea,
select,
textarea {
	font-size: $form-font-size;
	font-family: $form-font-family;
	border: 1px solid #ccc;
	//@include single-box-shadow(#eee);
	padding: $form-padding;
	@include transition(0.25s);
	width: 100%;
}

input:focus,
textarea:focus {
	border: 1px solid $brand;
	@include box-shadow(0 0 3px #aaa);
	outline: none;
}

button,
input[type=submit] {
	background: $submit-background;
	border: 1px solid #ccc;
	@include border-radius(4px);
	padding: $submit-padding;
	font-size: $submit-font-size;
	font-weight: $submit-font-weight;
	font-family: $form-font-family;
	color: $submit-font-color;
	@include transition(background 0.2s ease-in-out);
}

button:hover,
input[type=submit]:hover {
	background: darken($submit-background, 5%);
	cursor: pointer;
}

label {
	font-family: $form-font-family;
}