/*
| ------------------------------------
| Headings
| ------------------------------------
*/

h1, h2, h3, h4, h5, h6 {
	color: $base-heading-color;
	font-family: $base-heading-font-family;
	margin-bottom: $base-heading-bottom-margin;
	line-height: $base-heading-line-height;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	font-weight: inherit;
}

h1 {
	font-size: $h1-size;
	font-weight: $h1-weight;
}

h2 {
	font-size: $h2-size;
	font-weight: $h2-weight;
}

h3 {
	font-size: $h3-size;
	font-weight: $h3-weight;
}

h4 {
	font-size: $h4-size;
	font-weight: $h5-weight;
}

h5 {
	font-size: $h5-size;
	font-weight: $h5-weight;
}

h6 {
	font-size: $h6-size;
	font-weight: $h6-weight;
	text-transform: uppercase;
}

.subheader {
	color: #777;
}
