/*
| ------------------------------------
| Images
| ------------------------------------
*/

img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
	width: auto; // stops images distorting in IE8
}
