/*
| ------------------------------------
| Links
| ------------------------------------
*/

a, a:visited {
	color: $link-color;
	text-decoration: none;
	outline: 0;
	@include transition(color 0.2s);
}

a:hover,
a:focus {
	color: $link-hover-focus;
}

p a,
p a:visited {
	line-height: inherit;
}
