/*
| ------------------------------------
| Lists
| ------------------------------------
*/

dl, ul, ol {
	margin-bottom: 16px;
}

ul {
	list-style: disc outside;
}

ol {
	list-style: decimal;
}

ul, ol, ul.square, ul.circle, ul.disc {
	margin-left: $list-margin;
}

ul.square {
	list-style: square outside;
}

ul.circle {
	list-style: circle outside;
}

ul.disc {
	list-style: disc outside;
}

ul ul, ul ol,
ol ol, ol ul {
	margin: 4px 0 5px 30px;
}

ul ul li, ul ol li,
ol ol li, ol ul li {
	margin-bottom: 6px;
}

li {
	line-height: $base-line-height;
	margin-bottom: $li-bottom-margin;
}

ul.large li {
	line-height: $base-line-height;
}

li p {
	line-height: $base-line-height;
}

dl dt {
  margin-bottom: 6px;
  font-weight: bold; }
dl dd {
  margin-bottom: 10px; }