.copyright {
	.left {
		@include span-columns(7,12);
	}
	.right {
		@include span-columns(5 omega,12);
	}
}

.main-footer{
	.footer-col1 {
		@include span-columns(12 omega,12);
		ul {
			li {
				width: 100%;
			}
		}
	}
	.footer-col2 {
		@include span-columns(12 omega,12);
		border-top: 1px solid #ddd;
		margin-top: 20px;
		padding-top: 20px;
	}
	.footer-col3 {
		@include span-columns(12 omega,12);
		border-top: 1px solid #ddd;
		margin-top: 20px;
		padding-top: 20px;
	}
}

.footer-awards {
	.award {
		@include span-columns(4,12);
		@include nth-omega(3n);
		margin-bottom: 10px;
	}
}