.home-main {
	.icons {
		@include span-columns(12 omega,12);
		margin-bottom: 20px;
		.icon {
			text-align: center;
		}
	}
	.content {
		@include span-columns(12 omega,12);
	}
}

.home-services {
	padding: 30px 0 30px 0;
	.service {
		h2 {
			font-size: 14px;
		}
		@include span-columns(6,12);
		@include nth-omega(2n);
		margin-bottom: 15px;
	}
}

.home-equipment {
	.equipment {
		@include span-columns(6,12);
		@include nth-omega(2n);
		margin-bottom: 15px;
	}
}

.home-news {
	.news-block {
		@include remove-nth-omega(3n);
		@include span-columns(12 omega,12);
		img {
			width: 100%;
		}
	}
}