.copyright {
	.left {
		@include span-columns(7,12);
	}
	.right {
		@include span-columns(5 omega,12);
	}
}

.main-footer{
	.footer-col1 {
		@include span-columns(4,12);
		ul {
			li {
				width: 100%;
			}
		}
	}
	.footer-col2 {
		@include span-columns(5,12);
	}
}

