#home-slider .text {
	left: 0px;
	width: 100%;
	h1 {
		font-size: 40px;
	}
}

.header-contact {
	background: $brand;
	padding: 3px 0 5px 0;
	.mob-menu {
		display: block;
	}
	.details {
		@include span-columns(10 omega,12);
		padding-top: 10px;
		ul {
			float: right;
		}
		a {
			color: #fff;
		}
		i {
			color: #fff;
		}
	}
	.top-menu {
		@include span-columns(12 omega,12);
		a {
			color: #fff;
		}

		#menu-top-menu {
			border-top: 1px solid #fff;
			margin-top: 10px;
			padding-top: 10px;
			width: 100%;
			display: none;
			float: left;
			li {

				a {
					color: #fff;
					margin-left: 0px;
					margin-right: 10px;
				}
			}
		}
	}
}

.main-header {
	.main-logo {
//		@include span-columns(12 omega,12);
//		text-align: center;
//		margin-bottom: 15px;
	}
	.main-menu {
//		@include span-columns(12 omega,12);
//		p {
//			float: none !important;
//			text-align: center;
//		}
//		ul {
//			float: none !important;
//			text-align: center;
//		}
      display: none;
	}
}

#searchbox {
	width: 600px;
}