.home-main {
	.icons {
		@include span-columns(12 omega,12);
		margin-bottom: 20px;
		.icon {
			text-align: center;
		}
	}
	.content {
		@include span-columns(12 omega,12);
	}
}

.home-services {
	padding: 30px 0 30px 0;
	.service {
		h2 {
			font-size: 14px;
		}
	}
}