//
// Mixins
//

// Section outer div for full width styling

@mixin full-span($bg-col, $padd-t:"", $padd-b:"", $min-width:""){
	padding: unquote($padd-t) 0 unquote($padd-b) 0;
	width: 100%;
	margin: 0 auto;
	background-color: $bg-col;
  min-width: $min-width;
}

// Better mixin for image replacement than what compass provides

@mixin ir($width:"", $height:"") {
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
    display: block;
    width: $width;
    height: $height;
}

// for lists with no styling

@mixin no-list() {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
  }
}

// for styling placeholder text

@mixin placeholder {
  &:-moz-placeholder { @content }
  &::-webkit-input-placeholder { @content }
  &:-ms-input-placeholder { @content }
}


// Retina Images Replacement

@mixin retina-img($file, $type, $width, $height, $repeat:"") {
  background-image: url($file + '.' + $type);
  background-repeat: $repeat;
  @media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (-moz-min-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx){
    & {
      background-image: url($file + '@2x.' + $type);
      -webkit-background-size: $width $height;
      -moz-background-size: $width $height;
      -o-background-size: $width $height;
      background-size: $width $height;
    }
  }
}

// For applying bleed to divs inside containers mainly

@mixin bleed($padding: $grid-padding, $sides: left right) {
  @if $sides == 'all' {
    margin: - $padding;
    padding: $padding;
  } @else {
    @each $side in $sides {
      margin-#{$side}: - $padding;
      padding-#{$side}: $padding;
    }
  }
}

// Table Mixin

@mixin table {
  background: $table-bg;
  margin-bottom: $table-margin-bottom;
  border: $table-border-style $table-border-size $table-border-color;
  width: $table-width;

  thead,
  tfoot {
    background: $table-head-bg;
    font-weight: $table-head-font-weight;

    tr {
      th,
      td {
        padding: $table-head-padding;
        font-family: $base-heading-font-family;
        font-size: $table-head-font-size;
        color: $table-head-font-color;
        text-align: left;
      }
    }
  }

  tr {
    th,
    td {
      padding: $table-row-padding;
      font-size: $table-row-font-size;
      color: $table-row-font-color;
    }

    &.even,
    &.alt,
    &:nth-of-type(even) { background: $table-even-row-bg; }
  }

  thead tr th,
  tfoot tr th,
  tbody tr td,
  tr td,
  tfoot tr td { display: $table-display; line-height: $table-line-height; }
}

// BEM selectors
// =========================
//
// When using BEM https://en.bem.info/method/
// for your css these mixins help create the
// BEM classes.

@mixin element($element) {
  &__#{$element} {
    @content;
  }
}
@mixin modifier($modifier) {
  &--#{$modifier} {
    @content;
  }
}
