
/**
 * CONTAINER WIDTH - DONT ALTER
 */


body {
	@media only screen and ( max-width : 480px ) {
		.container { max-width: 320px; }
		@import "responsive/max-480/site-shared";
		@import "responsive/max-480/header";
		@import "responsive/max-480/homepage";
		@import "responsive/max-480/product";
		@import "responsive/max-480/footer";
		@import "responsive/max-480/category";
		@import "responsive/max-480/wordpress";
	}
	@media only screen and ( min-width : 481px ) and ( max-width : 568px ) {
		.container { max-width: 400px; }
		@import "responsive/max-568/site-shared";
		@import "responsive/max-568/header";
		@import "responsive/max-568/homepage";
		@import "responsive/max-568/product";
		@import "responsive/max-568/footer";
		@import "responsive/max-568/category";
		@import "responsive/max-568/wordpress";
	}
	@media only screen and ( min-width : 569px ) and ( max-width : 768px ) {
		.container { max-width: 560px; }
		@import "responsive/max-768/site-shared";
		@import "responsive/max-768/header";
		@import "responsive/max-768/homepage";
		@import "responsive/max-768/product";
		@import "responsive/max-768/footer";
		@import "responsive/max-768/category";
		@import "responsive/max-768/wordpress";
	}
	@media only screen and ( min-width : 769px ) and ( max-width : 1040px ) {
		.container { max-width: 770px; }
		@import "responsive/max-1040/site-shared";
		@import "responsive/max-1040/header";
		@import "responsive/max-1040/homepage";
		@import "responsive/max-1040/footer";
		@import "responsive/max-1040/product";
		@import "responsive/max-1040/category";
		@import "responsive/max-1040/wordpress";
	}
}
