//
// Project specific settings and overrides

// Brand Colors
$brand 		: 	#7C7D79;
$sub-brand 	: 	#7d7d7d;

// Susy Grid
$total-columns   : 12;      // a 12-column grid
$column-width    : 80px;    // each column is 54px wide
$gutter-width    : 12px;    // 30px gutters between columns
$grid-padding    : 20px;    // grid-padding for outside container
$container-width : 1090px;  // page/section width
$container-style : magic;   // magic, fluid or static available

// Base Defaults
$base-background-color 		: #ffffff;
$base-font-family 			: 'open_sansregular', "Helvetica", sans-serif;
$base-font-color 			: #30271e;
$base-font-size       		: 14px;
$base-font-weight 			: 300;
$base-line-height     		: 1.5;
$relative-font-sizing 		: false;

// Headings

$base-heading-color 		: $off-black;
$base-heading-font-family 	: 'open_sansbold', "Helvetica", sans-serif;


$h1-size : 28px;
$h2-size : 24px;
$h3-size : 20px;
$h4-size : 18px;
$h5-size : 16px;
$h6-size : 12px;

$h1-weight : 500;
$h2-weight : 500;
$h3-weight : 500;
$h4-weight : 500;
$h5-weight : 500;
$h6-weight : 500;

// Links

$link-color 	  : $brand;
$link-hover-focus : darken($link-color, 20%);

// Lists

$list-color : $dk-grey;

// Forms

$form-font-family 	: 'open_sansregular', "Helvetica", sans-serif;
$form-font-size 	: $base-font-size - 2;
$submit-background 	: $brand;
$submit-font-size 	: $base-font-size - 2;
$submit-font-weight : normal;
$submit-font-color 	: $lt-grey;

// IE9 CSS Gradient Support

$experimental-support-for-svg: true;

// Susy & Compass use HTML hacks to support IE 6 and 7. You can turn that off:
// $legacy-support-for-ie6 : false;
// $legacy-support-for-ie7 : true;

