/*
| ------------------------------------
| Banner
| ------------------------------------
*/

#home-slider {
	background: none;
	position: relative;
	img {
		width: 100%;
		
	}
	.item {
		// min-height: 335px;
	}
}

.text-outer {
	position: absolute;
	top: 50px;
}


#home-slider .text {
	background-color: rgb(117, 117, 117);
	background-color: rgba(117, 117, 117, 0.6);
	padding: 20px;
	position: relative;
	text-align: center;
	width: 890px;
	left: 100px;
	h1 {
		color: #fff;
		margin-bottom: 15px;
		font-size: 64px;
		text-transform: uppercase;
		text-shadow: 1px 1px 2px #353586;
	}
	color: #fff;
	a {
		color: #fff;
		&:hover {
			color: $brand;
		}
	}
	p {
		margin-bottom: 15px;
		text-shadow: 1px 1px 2px #000;
	}
}

.banner-cta {
	text-shadow: none !important;
	a {
		background: $brand;
		color: #fff;
		padding: 15px 30px;
		border-radius: 5px;
		i {
			margin-right: 7px;
		}
		font-family: 'open_sanssemibold', "Helvetica", sans-serif;
		font-size: 16px;
		@include transition(background 0.3s);
		&:hover {
			background: $sub-brand;
			color: #fff !important;
		}
	}
	margin-top: 35px;
}
