/*
| ------------------------------------
| Footer
| ------------------------------------
*/

.main-footer {
	padding: 30px 0;
	background: #f5f5f5;
	border: 1px solid #d8e1f9;
	.footer-col2 {
		@include span-columns(4,12);
		h5 {
			color: #30271e;
			font-size: 18px;
			font-family: 'open_sanssemibold', "Helvetica", sans-serif;
		}
		.tweet-details {
			display: none;
		}
		ul {
			margin: 0px;
			li {
				list-style: none;
				a {
					font-family: 'open_sanssemibold', "Helvetica", sans-serif;
					color: #30271e;
				}
			}
		}
	}
	.footer-col3 {
		@include span-columns(3 omega,12);
		h5 {
			color: #30271e;
			font-size: 18px;
			font-family: 'open_sanssemibold', "Helvetica", sans-serif;
		}
		ul {
			margin: 0px;
			li {
				list-style: none;
				a {
					color: #30271e;
				}
			}
		}
	}
	.footer-col1 {
		h5 {
			color: #30271e;
			font-size: 18px;
			font-family: 'open_sanssemibold', "Helvetica", sans-serif;
		}
		@include span-columns(5,12);
		ul {
			margin: 0px 0px 0px 20px;
			li {
				float: left;
				width: 50%;
				a {
					color: #30271e;
					&:hover {
						color: $brand;
					}
				}
			}
		}
	}
}



.copyright {
	background: #a2a39e;
	padding: 10px 0;
	.left {
		@include span-columns(8,12);
	}
	.right {
		@include span-columns(4 omega,12);
		p {
			float: right;
		}
	}
	color: #fff;
	a {
		color: #fff;
		&:hover {
			text-decoration: underline;
		}
	}
	p {
		margin-bottom: 0px;
		font-size: 12px;
	}
}


.footer-awards {
	padding: 30px 0;
	background: url(./images/awards_bg.jpg) no-repeat;
	background-size: cover;
	text-align: center;
	.award {
		@include span-columns(2,12);
		@include nth-omega(6n);
		background: #fff;
		padding: 10px;
		border-radius: 5px;
		text-align: center;
	}
}

.footer-news {
	margin: 0px !important;
}