form.wpcf7-form {
	margin-top: 25px;
	display: flex;
	flex-wrap: wrap;
	position: relative;

	p {
		width: 100%;
		padding: 0 50px 0 0;

		@media only screen and ( max-width : 600px ) {
			padding: 0;
		}
		
		.wpcf7-form-control-wrap {
			display: block;
			width: 50%;
			margin-top: 5px;

			@media only screen and ( max-width : 600px ) {
				width: 100%;
			}

		}

		&:nth-last-of-type(2) {
			position: absolute;
			right: 0;
			top: 44px;
			width: 50%;
			padding: 0 0 0 50px;

			@media only screen and ( max-width : 600px ) {
				position: relative;
				width: 100%;
				padding: 0;
			}

			.wpcf7-form-control-wrap {
				width: 100%;
			}

		}

		&:last-of-type {
			position: absolute;
			bottom: -16px;
			right: 0;
			width: 50%;
			padding: 0 0 0 50px;

			@media only screen and ( max-width : 600px ) {
				position: relative;
				width: 100%;
				padding: 0;
			}

			input {
				width: 100%;
				font-weight: 700;
				text-align: left;
				border: 0;
				background: #1f6fdb;
			}

		}

	}

	input,
	textarea {
		border-radius: 7px;
	}

}