/*
| ------------------------------------
| Global Styles for melissa
| ------------------------------------
*/

strong {
    font-family: 'open_sansbold', "Helvetica", sans-serif;
}

input {
    -webkit-appearance: none;
}


@font-face {
    font-family: 'open_sanssemibold';
    src: url('fonts/opensans-semibold-webfont.eot');
    src: url('fonts/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans-semibold-webfont.woff') format('woff'),
         url('fonts/opensans-semibold-webfont.ttf') format('truetype'),
         url('fonts/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansbold';
    src: url('fonts/opensans-bold-webfont.eot');
    src: url('fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans-bold-webfont.woff') format('woff'),
         url('fonts/opensans-bold-webfont.ttf') format('truetype'),
         url('fonts/opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sanslight';
    src: url('fonts/opensans-light-webfont.eot');
    src: url('fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans-light-webfont.woff') format('woff'),
         url('fonts/opensans-light-webfont.ttf') format('truetype'),
         url('fonts/opensans-light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sansregular';
    src: url('fonts/opensans-regular-webfont.eot');
    src: url('fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans-regular-webfont.woff') format('woff'),
         url('fonts/opensans-regular-webfont.ttf') format('truetype'),
         url('fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.nolist {
	margin: 0px;
	li {
		list-style: none;
		float: left;
	}
}

.container {
	@include container;
}

.content-area {
	@include container;
}
.main-content {
	background: #fff;
	border-bottom: 1px solid $light;
	padding-top: 30px;
	padding-bottom: 30px;
}

/*-- general page styling --*/

.entry-header, .page-header {
	background: $lighter;
	@include bleed();
	padding-top: 30px;
	padding-bottom: 30px;
	margin-top: -30px;
	margin-bottom: 30px;
	border-bottom: 1px solid $light;

	h1 {
		margin-bottom: 0;
	}
}

/*-- pages with sidebars --*/

.widget-area {
	@include span-columns(3 omega,12);
}

.entries-list, .content-left {
	@include span-columns(9,12);
}

.widget-area.right {
	@include span-columns(3 omega,12);
}

.content-right {
	@include span-columns(9 omega,12);
}

.widget-area.left {
	@include span-columns(3,12);
}

/*-- widgets styling --*/

.widget {
	margin-bottom: 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid $light;

	ul {
		@include no-list();
	}
}

/*-- blog styling --*/

.tags-links {
	display: block;
}

.post.hentry {
	margin-bottom: 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid $light;

	&:last-child {
		border-bottom: none;
	}
}

.post-entry-meta {
	margin-bottom: 15px;
}

.post-entry-content {
	margin-bottom: 15px;

	p {
		margin-bottom: 0;
	}

	.continue {
		display: block;
	}
}

/*-- no-results styling --*/

.search-on-nothing-found input[type="search"] {
	width: 320px;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}