/*
| ------------------------------------
| Header
| ------------------------------------
*/

.header-contact {
	padding: 10px 0;
	border-bottom: 1px solid #dddddd;
	ul {
		margin: 0px;
		li {
			list-style: none;
			display: inline;
			float: left;
			font-size: 13px;
			color: #a2a39e;
			margin-right: 10px;
			font-family: 'open_sanssemibold', "Helvetica", sans-serif;
			i {
				margin-right: 5px;
			}
			a {
				color: $sub-brand;
				&:hover {
					color: #a2a39e;
				}
			}
		}
	}
	.mob-menu {
		@include span-columns(2,12);
		font-size: 24px;
		display: none;
		a {
			color: #fff;
		}
	}
	.details {
		@include span-columns(7,12);
		.mob {
			display: none;
		}
	}
	.top-menu {
		@include span-columns(5 omega,12);
		ul {
			float: right;
			li {
				a {
					color: #a2a39e;
					margin-left: 10px;
					&:hover {
						color: $sub-brand;
					}
				}
			}
		}
	}
}

.main-header {
	padding: 20px 0 12px 0;
	.main-logo {
		@include span-columns(3,12);
	}
	.main-menu {
		@include span-columns(9 omega,12);
		p {
			float: right;
			font-size: 13px;
			font-style: italic;
			font-family: 'open_sansregular', "Helvetica", sans-serif;
			color: #7d7d7d;
		}
		.search-menu {
			a {
				font-size: 16px;
				color: #0c1e4d;
				i {
					font-size: 16px;
					color: #0c1e4d;
					margin-left: 0px;
				}
			}
		}
	}
}


#searchbox {
	width: 800px;
}

.header-logo{
	width: 100%;
}

