/*
| ------------------------------------
| Home
| ------------------------------------
*/

.home-services {
	padding: 30px 0;
	.service {
		.title {
			position: relative;
		}
		@include span-columns(3,12);
		@include nth-omega(4n);
		h2 {
			position: absolute;
			color: #fff;
			font-size: 16px;
			bottom: -1px;
			margin-bottom: 0px;
			background-color: rgb(162, 163, 159);
			background-color: rgba(162, 163, 159, 0.8);
			width: 100%;
			padding: 15px;
		}
		.des {
			background: #e6e6e6;
			padding: 15px;
			@include transition(background 0.3s);
			p {
				margin-bottom: 0px;
				color: #2c2c2c;
				font-size: 13px;
				a {
					color: #2c2c2c;
					font-size: 13px;
					span {
						color: #d61212;
						font-weight: bold;
					}
				}
			}
		}
	}
}

.home-equipment {
	text-align: center;
	h3 {
		color: #30271e;
		font-size: 24px;
		font-family: 'open_sanssemibold', "Helvetica", sans-serif;
		margin-bottom: 40px;
	}
	.equipment {
		@include span-columns(2,12);
		@include nth-omega(6n);
		img {
			margin-bottom: 20px;
			@include transition(opacity 0.3s);
			&:hover {
				opacity: 0.8;
			}
		}
		h4 {
			font-size: 13px;
			margin-bottom: 0px;
			font-family: 'open_sanssemibold', "Helvetica", sans-serif;
		}
		a {
			i {
				color: #d31616;
			}
		}
	}
}

.home-news {
	margin: 30px 0;
	padding: 40px 0 30px 0;
	background: url(./images/news_bg.jpg) no-repeat;
	background-size: cover;
	h5 {
		text-align: center;
		color: #30271e;
		font-size: 24px;
		font-family: 'open_sanssemibold', "Helvetica", sans-serif;
		margin-bottom: 40px;
	}
	.news-block {
		@include span-columns(4,12);
		@include nth-omega(3n);
		margin-bottom: 10px;
		.link {
			font-size: 12px;
			font-family: 'open_sanssemibold', "Helvetica", sans-serif;
			margin-bottom: 0px;
			a {
				color: #fd0000;
			}
		}
		background: #fff;
		font-size: 13px;
		a {
			color: #30271e;
			&:hover {
				color: #d61212;
			}
		}
		p {
			font-size: 13px;
			margin-bottom: 0px;
			a {
				color: #30271e;
			}
		}
		span {
			color: #d61212;
		}
	}
	.post-post {
		
		.image {
			@include span-columns(6,12);
			position: relative;
			img {
				position: relative;
			}
			h3 {
				position: absolute;
				font-family: 'open_sanssemibold', "Helvetica", sans-serif;
				color: #fff;
				font-size: 13px;
				bottom: -2px;
				margin-bottom: 0px;
				background-color: rgb(162, 163, 159);
				background-color: rgba(162, 163, 159, 0.8);
				width: 100%;
				padding: 10px;
			}
		}
		.content {
			@include span-columns(6 omega,12);
			padding: 15px;
		}
	}
	.case-studies-post {
		.image {
			@include span-columns(12 omega,12);
			position: relative;
			img {
				position: relative;
			}
			h3 {
				position: absolute;
				font-family: 'open_sanssemibold', "Helvetica", sans-serif;
				color: #fff;
				font-size: 13px;
				bottom: -1px;
				margin-bottom: 0px;
				background-color: rgb(162, 163, 159);
				background-color: rgba(162, 163, 159, 0.8);
				width: 100%;
				padding: 10px;
			}
		}
		.content {
			@include span-columns(12 omega,12);
			padding: 15px;
		}
	}
}

.home-main {
	padding: 30px 0;
	.icons {
		@include span-columns(5,12);
		.icon {
			@include span-columns(4,12);
			@include nth-omega(3n);
			margin-bottom: 10px;
			.image {
				margin-bottom: 10px;
			}
		}
	}
	.content {
		@include span-columns(7 omega,12);
		h1 {
			font-size: 24px;
			color: #30271e;
		}
		.about-link {
			margin-top: 25px;
			a {
				background: #d31616;
				padding: 10px 20px;
				color: #fff;
				border-radius: 5px;
				font-family: 'open_sanssemibold', "Helvetica", sans-serif;
				@include transition(background 0.3s);
				i {
					margin-right: 5px;
				}
				&:hover {
					background: #bb1515;
				}
			}
		}
	}
}