.mobile-menu {
  display: none;

  @media (max-width: $mobile-menu-breakpoint) {
    display: block;
  }
}


.mobile-menu {
  @include element(toggle) {
    h3 {
      display:inline;
      float:right;
      color: $mm-toggleColor;
      position: absolute;
      cursor: pointer;
      right: 60px;
      top: 15px;

      &:last-of-type {
        display: none;
      }

      &:first-of-type {
        z-index: 500;
      }

      @media (max-width: 480px) {
        display: none;
      }
    }
  }

  @include element(menu) {
    height: 0px;
    overflow: hidden;
    transition: height $mm-transitionSpeed $mm-transitionType;
    padding-top: 50px;

    &.open {
      height: $mm-openHeight;
      overflow: scroll;
    }

    ul {
      list-style: none;
      background-color: $mm-wrapperBackgroundColor;

      li {
        position: relative;
        display: block;


        a {
          border-radius: 4px;
          display: block;
          color: $mm-linkColor;
          font-size: $mm-linkFontSize;
          padding: $mm-linkPaddingVertical $mm-linkPaddingSides;


          &:hover, &:focus, &:active {
            color: $mm-linkHoverColor;
            text-decoration: none;
          }
        }

        ul {
          margin-top: 0px;
          height: 0px;
          overflow: hidden;
          padding-left: ($mm-linkPaddingSides + 15px);

          li a {
            display: block;
            padding: $mm-linkPaddingVertical;

          }

          &.open {
            height: auto;
          }
        }
      }
    }
  }

  @include element(wrapper) {
    background-color: $mm-wrapperBackgroundColor;
    position: relative;
    z-index: 500;
    width: 100%;
    //@include spacing(padding, sides, 200);
  }

}

.nav-icon {
  display: block;
  width: $bar-width;
  height: $bar-height * 5;
  margin-top: 15px;
  margin-bottom: 15px;
  float: right;
  cursor: pointer;

  &.open {
    .b-icon { background: none; }
    .b-icon:before, .b-icon:after { top: 0; }
    .b-icon:before { @include rotate(-45deg); }
    .b-icon:after { @include rotate(45deg);}
  }


}

.b-icon, .b-icon:before, .b-icon:after {
  width: $bar-width;
  height: $bar-height;
  background: $bar-color;
  transition: linear all $bar-animation-speed;
}

.b-icon {
  position: relative;
  margin: $bar-height * 2 auto 0;

  &:before, &:after {
    content: "";
    position: absolute;
  }

  &:before { top: -($bar-height * 2); }
  &:after { top: $bar-height * 2; }
}