/*
| ------------------------------------
| Primary Naviagtion
| ------------------------------------
*/

.rel-menu {
	position: relative;
}

.main-menu {
	
	ul {
		@include no-list;
		float: right;
		
	}

	ul li {
		display: inline-block;
		margin-bottom: 0;
	}

	ul li a {
		padding: 10px 10px 10px 10px;
		font-family: 'open_sansbold', "Helvetica", sans-serif;
		font-size: 16px;
		color: #0c1e4d;
	}

	ul > li > a > i {
		font-size: 12px !important;
		margin-left: 8px;
		line-height: 1;
		color: $dk-grey;
	}

	ul li.menu-last-item a {
		padding-right: 0;
	}

	> ul > li:hover > a {
		color: $brand;

	}

	> ul > li > a:hover {
		border-bottom: 5px solid #7C7D79;
	}

	> ul > li.current_page_item > a {
		border-bottom: 5px solid #7C7D79;
	}
	/*--- dropdowns first level -*/

	li > ul {
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		background: #f5f5f5;
		z-index: 999;
		width: 100%;
		margin-top: -48px;
		display: none;
		padding: 10px 0;
		-webkit-box-shadow: 2px 2px 10px 0px rgba(50, 50, 50, 0.56);
		-moz-box-shadow:    2px 2px 10px 0px rgba(50, 50, 50, 0.56);
		box-shadow:         2px 2px 10px 0px rgba(50, 50, 50, 0.56);
		> li {
			display: block;
			@include span-columns(2,12);
			@include nth-omega(6n);

			&:last-child {
				border-bottom: none;
			}
		}

		> li a {
			display: block;
			width: 100%;
			color: #30271e;
			font-family: 'open_sanssemibold', "Helvetica", sans-serif;
			padding: 5px 15px;
			font-size: 12px; 
		}

		> li:hover a {
			color: darken($dk-grey, 15%);
			
		}
		a.menu-image-title-after { 
			text-align: center; font-size: 12px; 
			&:after {
				font-family: FontAwesome;
				display: block; 
			    content: "\f064";
			    color: #d31616; 
			    margin: auto; 
			}
		}

        img.menu-image {
        	display: block; 
        	width: 120px; 
        	height: auto !important; 
        	margin: 0 auto 12px auto; 
        	-webkit-border-radius: 50%;
			-moz-border-radius: 50%;
			border-radius: 50%; 
        }
	}

	li:hover > ul {
		display: block;
	}

}
