/*
| ------------------------------------
| Page
| ------------------------------------
*/

.page-title-wrapper {
	max-height: 230px;
	overflow: hidden;
	position: relative;
	img {
		width: 100%;
	}
	h1 {
		position: absolute;
		top: 40px;
		color: #fff;
		text-shadow: 1px 1px 2px #000;
		background-color: rgb(117,117,117);
		background-color: rgba(117,117,117,.6);
		padding: 20px;
	}
	.breadcrumb-wrapper {
		background-color: rgb(117,117,117);
		background-color: rgba(117,117,117,.6);
		position: absolute;
		bottom: 0px;
		width: 100%;
		padding: 10px 0;
		.breadcrumbs {
			p {
				margin-bottom: 0px;
				color: #fff;
				font-family: 'open_sanssemibold', "Helvetica", sans-serif;
				a {
					color: #fff;
				}
			}
		}
	}
}

.ezcol {
	margin-bottom: 15px;
}

.contact-details{
	width:30%;
	float:left;
}

.enquiry-form{
	width:60%;
	float:right;
}
