.testimonials-slider {
	position: relative;
	padding: 0 50px;

	@media only screen and ( max-width : 600px ) {
		padding: 0 25px;
	}

	.slide {
		margin-left: 6px;
		width: calc(100% - 12px);

		.testimonial-content {
			background-color: white;
		}

	}

}


.testimonial-item {
	float: left;
	width: calc((100% / 4) - (12px / 4 * 3));
	margin-right: 12px;
	margin-bottom: 40px;

	&:nth-of-type(4n) {
		margin-right: 0;
	}

	@media only screen and ( max-width : 800px ) {

		width: calc((100% / 2) - (12px / 2));

		&:nth-of-type(4n) {
			margin-right: 12px;
		}

		&:nth-of-type(2n) {
			margin-right: 0;
		}

	}

	@media only screen and ( max-width : 450px ) {
		
		width: 100%;
		margin-right: 0;

		&:nth-of-type(4n) {
			margin-right: 0;
		}

		&:nth-of-type(2n) {
			margin-right: 0;
		}

	}


	&:last-of-type {
		margin-right: 0;
	}

	.testimonial-image {
		background-color: $color-primary;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		width: 100%;
		height: 180px;
	}

	.testimonial-content {
		background-color: #e6e6e6;
		padding: 20px;

		b {
			font-weight: bold;
		}

	}

}


.testimonial-button {
	margin-top: 10px;
	text-align: center;

	a {
		background: $color-primary;
		color: white !important;
		padding: 10px;
		border-radius: 5px;

		.fa {
			margin-right: 5px;
		}

	}
}


.owl-controls {

	.owl-nav {

		.owl-prev,
		.owl-next {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			font-size: 0;

			&:before {
				font-size: 30px;
				color: $color-primary;
			    font-family: FontAwesome;
			    font-style: normal;
			    font-weight: normal;
			}

		}

		.owl-prev {
			left: 0;

			&:before {
				content: "\f053";
			}

		}

		.owl-next {
			right: 0;

			&:before {
				content: "\f054";
			}


		}

	}

}