/*
| ------------------------------------
| WordPress Generated Classes
| ------------------------------------
*/

.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

.sticky {
}


/*
| ------------------------------------
| WordPress Comments
| ------------------------------------
*/

.comment-content a {
    word-wrap: break-word;
}
.bypostauthor {
}

.comments-area {
    margin-top: 25px;
}

.comments-title {
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid $grey;
    padding-bottom: 10px;
}

.comment.odd, .comment.even {
    list-style: none;
}

.comment-list  {
    list-style: none;
    margin-left: 0;
    margin-top: 30px;
}

.comment-body {
    padding-bottom: 25px;
    border-bottom: 1px solid $grey;
    margin-top: 25px;
}

.comment-author img {
    border: 3px solid $lt-grey;
    margin: 0 10px 10px 0;
}

.comment-author {

    cite {
        font-size: 14px;
        font-weight: bold;
    }

}

.comment-metadata {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;

    a {
       color: $dk-grey;

        &:hover {
            color: $brand;
        }
    }
}

.comment-edit-link {
    font-weight: normal;
    color: $off-black;
}

.comment-reply-link {
    font-weight: bold;
    font-size: 14px;
}

.comment-respond {
    background: $lighter;
    padding: 25px;
    margin-top: 25px;
}