/*!
Theme Name: Bowers Electrical
Theme URI: 
Description: A custom built theme
Version: 1.0
Author: Jamie Bourn
Author URI: www.purposemedia.co.uk

License: GNU General Public License version 3.0
License URI: http://www.gnu.org/licenses/gpl-3.0.html
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*
| ------------------------------------
| Base styling
| ------------------------------------
*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  font-size: 14px;
}

html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: #ffffff;
  font-family: "open_sansregular", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 300;
  color: #30271e;
  -webkit-font-smoothing: antialiased;
  /* Fix for webkit rendering */
}

hr {
  border: solid #ecf0f1;
  border-width: 1px 0 0;
  clear: both;
  margin: 10px 0 5px 0;
  height: 0;
}

/*
| ------------------------------------
| Headings
| ------------------------------------
*/
h1, h2, h3, h4, h5, h6 {
  color: #465563;
  font-family: "open_sansbold", "Helvetica", sans-serif;
  margin-bottom: 16px;
  line-height: 1.2;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-weight: inherit;
}

h1 {
  font-size: 28px;
  font-weight: 500;
}

h2 {
  font-size: 24px;
  font-weight: 500;
}

h3 {
  font-size: 20px;
  font-weight: 500;
}

h4 {
  font-size: 18px;
  font-weight: 500;
}

h5 {
  font-size: 16px;
  font-weight: 500;
}

h6 {
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}

.subheader {
  color: #777;
}

/*
| ------------------------------------
| Paragraphs
| ------------------------------------
*/
p {
  margin: 0 0 16px 0;
  font-size: 14px;
}

p img {
  margin: 0;
}

p.lead {
  font-size: 17px;
  line-height: 1.5;
  color: #35404b;
}

em {
  font-style: italic;
}

strong {
  font-weight: 500;
}

small {
  font-size: 80%;
  line-height: inherit;
}

sup {
  font-size: 55%;
  vertical-align: top;
  padding-left: 1px;
  line-height: inherit;
}

/*
| ------------------------------------
| Links
| ------------------------------------
*/
a, a:visited {
  color: #7C7D79;
  text-decoration: none;
  outline: 0;
  -moz-transition: color 0.2s;
  -o-transition: color 0.2s;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

a:hover,
a:focus {
  color: #494947;
}

p a,
p a:visited {
  line-height: inherit;
}

/*
| ------------------------------------
| Lists
| ------------------------------------
*/
dl, ul, ol {
  margin-bottom: 16px;
}

ul {
  list-style: disc outside;
}

ol {
  list-style: decimal;
}

ul, ol, ul.square, ul.circle, ul.disc {
  margin-left: 30px;
}

ul.square {
  list-style: square outside;
}

ul.circle {
  list-style: circle outside;
}

ul.disc {
  list-style: disc outside;
}

ul ul, ul ol,
ol ol, ol ul {
  margin: 4px 0 5px 30px;
}

ul ul li, ul ol li,
ol ol li, ol ul li {
  margin-bottom: 6px;
}

li {
  line-height: 1.5;
  margin-bottom: 4px;
}

ul.large li {
  line-height: 1.5;
}

li p {
  line-height: 1.5;
}

dl dt {
  margin-bottom: 6px;
  font-weight: bold;
}

dl dd {
  margin-bottom: 10px;
}

/*
| ------------------------------------
| Code
| ------------------------------------
*/
pre {
  background: #ecf0f1;
  color: #465563;
  padding: 0 20px 20px 20px;
  margin: 0 0 16px 0;
  /* Probably the same as paragraphs */
}

code {
  font: 13px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  margin: 0;
  padding: 0;
}

/*
| ------------------------------------
| Blockquotes
| ------------------------------------
*/
blockquote, blockquote p {
  font-size: 15px;
  line-height: 1.5;
  color: #7f8c8d;
  font-style: italic;
}

blockquote {
  margin: 0 0 20px 20px;
  padding: 9px 20px 0 19px;
  border-left: 1px solid #ddd;
}

blockquote cite {
  display: block;
  font-size: 14px;
  color: #4e5758;
  font-weight: 700;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
}

blockquote cite:before {
  content: "\2014 \0020";
}

blockquote cite a,
blockquote cite a:visited,
blockquote cite a:visited {
  color: #4e5758;
}

/*
| ------------------------------------
| Images
| ------------------------------------
*/
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  width: auto;
}

/*
| ------------------------------------
| Tables
| ------------------------------------
*/
table {
  background: #fafafa;
  margin-bottom: 20px;
  border: solid 1px #bdc3c7;
  width: 100%;
}
table thead,
table tfoot {
  background: #eee;
  font-weight: bold;
}
table thead tr th,
table thead tr td,
table tfoot tr th,
table tfoot tr td {
  padding: 8px 10px 10px;
  font-family: "open_sansbold", "Helvetica", sans-serif;
  font-size: 14px;
  color: #465563;
  text-align: left;
}
table tr th,
table tr td {
  padding: 9px 10px;
  font-size: 14px;
  color: #465563;
}
table tr.even, table tr.alt, table tr:nth-of-type(even) {
  background: #ededed;
}
table thead tr th,
table tfoot tr th,
table tbody tr td,
table tr td,
table tfoot tr td {
  display: table-cell;
  line-height: 18px;
}

/*
| ------------------------------------
| Forms
| ------------------------------------
*/
input[type="text"],
input[type="password"],
input[type="email"],
input[type="search"],
textarea,
select,
textarea {
  font-size: 12px;
  font-family: "open_sansregular", "Helvetica", sans-serif;
  border: 1px solid #ccc;
  padding: 10px;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  width: 100%;
}

input:focus,
textarea:focus {
  border: 1px solid #7C7D79;
  -moz-box-shadow: 0 0 3px #aaa;
  -webkit-box-shadow: 0 0 3px #aaa;
  box-shadow: 0 0 3px #aaa;
  outline: none;
}

button,
input[type=submit] {
  background: #7C7D79;
  border: 1px solid #ccc;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 12px;
  font-weight: normal;
  font-family: "open_sansregular", "Helvetica", sans-serif;
  color: #ecf0f1;
  -moz-transition: background 0.2s ease-in-out;
  -o-transition: background 0.2s ease-in-out;
  -webkit-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
}

button:hover,
input[type=submit]:hover {
  background: #6f706c;
  cursor: pointer;
}

label {
  font-family: "open_sansregular", "Helvetica", sans-serif;
}

/*
| ------------------------------------
| Print only styles
| ------------------------------------
*/
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 1.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
/*
| ------------------------------------
| Global Styles for melissa
| ------------------------------------
*/
strong {
  font-family: 'open_sansbold', "Helvetica", sans-serif;
}

input {
  -webkit-appearance: none;
}

@font-face {
  font-family: 'open_sanssemibold';
  src: url("fonts/opensans-semibold-webfont.eot");
  src: url("fonts/opensans-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/opensans-semibold-webfont.woff") format("woff"), url("fonts/opensans-semibold-webfont.ttf") format("truetype"), url("fonts/opensans-semibold-webfont.svg#open_sanssemibold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sansbold';
  src: url("fonts/opensans-bold-webfont.eot");
  src: url("fonts/opensans-bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/opensans-bold-webfont.woff") format("woff"), url("fonts/opensans-bold-webfont.ttf") format("truetype"), url("fonts/opensans-bold-webfont.svg#open_sansbold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sanslight';
  src: url("fonts/opensans-light-webfont.eot");
  src: url("fonts/opensans-light-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/opensans-light-webfont.woff") format("woff"), url("fonts/opensans-light-webfont.ttf") format("truetype"), url("fonts/opensans-light-webfont.svg#open_sanslight") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sansregular';
  src: url("fonts/opensans-regular-webfont.eot");
  src: url("fonts/opensans-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/opensans-regular-webfont.woff") format("woff"), url("fonts/opensans-regular-webfont.ttf") format("truetype"), url("fonts/opensans-regular-webfont.svg#open_sansregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
.nolist {
  margin: 0px;
}
.nolist li {
  list-style: none;
  float: left;
}

.container {
  *zoom: 1;
  max-width: 1090px;
  max-width: 77.85714rem;
  _width: 1090px;
  padding-left: 20px;
  padding-left: 1.42857rem;
  padding-right: 20px;
  padding-right: 1.42857rem;
  margin-left: auto;
  margin-right: auto;
}
.container:after {
  content: "";
  display: table;
  clear: both;
}

.content-area {
  *zoom: 1;
  max-width: 1090px;
  max-width: 77.85714rem;
  _width: 1090px;
  padding-left: 20px;
  padding-left: 1.42857rem;
  padding-right: 20px;
  padding-right: 1.42857rem;
  margin-left: auto;
  margin-right: auto;
}
.content-area:after {
  content: "";
  display: table;
  clear: both;
}

.main-content {
  background: #fff;
  border-bottom: 1px solid #e2e2e2;
  padding-top: 30px;
  padding-bottom: 30px;
}

/*-- general page styling --*/
.entry-header, .page-header {
  background: #f3f3f3;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  margin-left: -20px;
  padding-left: 20px;
  margin-right: -20px;
  padding-right: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: -30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #e2e2e2;
}
.entry-header h1, .page-header h1 {
  margin-bottom: 0;
}

/*-- pages with sidebars --*/
.widget-area {
  width: 24.17582%;
  float: right;
  margin-right: 0;
  *margin-left: -12px;
  display: inline;
}

.entries-list, .content-left {
  width: 74.72527%;
  float: left;
  margin-right: 1.0989%;
  display: inline;
}

.widget-area.right {
  width: 24.17582%;
  float: right;
  margin-right: 0;
  *margin-left: -12px;
  display: inline;
}

.content-right {
  width: 74.72527%;
  float: right;
  margin-right: 0;
  *margin-left: -12px;
  display: inline;
}

.widget-area.left {
  width: 24.17582%;
  float: left;
  margin-right: 1.0989%;
  display: inline;
}

/*-- widgets styling --*/
.widget {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #e2e2e2;
}
.widget ul {
  margin: 0;
  padding: 0;
}
.widget ul li {
  list-style: none;
}

/*-- blog styling --*/
.tags-links {
  display: block;
}

.post.hentry {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #e2e2e2;
}
.post.hentry:last-child {
  border-bottom: none;
}

.post-entry-meta {
  margin-bottom: 15px;
}

.post-entry-content {
  margin-bottom: 15px;
}
.post-entry-content p {
  margin-bottom: 0;
}
.post-entry-content .continue {
  display: block;
}

/*-- no-results styling --*/
.search-on-nothing-found input[type="search"] {
  width: 320px;
}

.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.cf:after {
  clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
  *zoom: 1;
}

/*
| ------------------------------------
| Header
| ------------------------------------
*/
.header-contact {
  padding: 10px 0;
  border-bottom: 1px solid #dddddd;
}
.header-contact ul {
  margin: 0px;
}
.header-contact ul li {
  list-style: none;
  display: inline;
  float: left;
  font-size: 13px;
  color: #a2a39e;
  margin-right: 10px;
  font-family: 'open_sanssemibold', "Helvetica", sans-serif;
}
.header-contact ul li i {
  margin-right: 5px;
}
.header-contact ul li a {
  color: #7d7d7d;
}
.header-contact ul li a:hover {
  color: #a2a39e;
}
.header-contact .mob-menu {
  width: 15.75092%;
  float: left;
  margin-right: 1.0989%;
  display: inline;
  font-size: 24px;
  display: none;
}
.header-contact .mob-menu a {
  color: #fff;
}
.header-contact .details {
  width: 57.87546%;
  float: left;
  margin-right: 1.0989%;
  display: inline;
}
.header-contact .details .mob {
  display: none;
}
.header-contact .top-menu {
  width: 41.02564%;
  float: right;
  margin-right: 0;
  *margin-left: -12px;
  display: inline;
}
.header-contact .top-menu ul {
  float: right;
}
.header-contact .top-menu ul li a {
  color: #a2a39e;
  margin-left: 10px;
}
.header-contact .top-menu ul li a:hover {
  color: #7d7d7d;
}

.main-header {
  padding: 20px 0 12px 0;
}
.main-header .main-logo {
  width: 24.17582%;
  float: left;
  margin-right: 1.0989%;
  display: inline;
}
.main-header .main-menu {
  width: 74.72527%;
  float: right;
  margin-right: 0;
  *margin-left: -12px;
  display: inline;
}
.main-header .main-menu p {
  float: right;
  font-size: 13px;
  font-style: italic;
  font-family: 'open_sansregular', "Helvetica", sans-serif;
  color: #7d7d7d;
}
.main-header .main-menu .search-menu a {
  font-size: 16px;
  color: #0c1e4d;
}
.main-header .main-menu .search-menu a i {
  font-size: 16px;
  color: #0c1e4d;
  margin-left: 0px;
}

#searchbox {
  width: 800px;
}

.header-logo {
  width: 100%;
}

/*
| ------------------------------------
| Primary Naviagtion
| ------------------------------------
*/
.rel-menu {
  position: relative;
}

.main-menu {
  /*--- dropdowns first level -*/
}
.main-menu ul {
  margin: 0;
  padding: 0;
  float: right;
}
.main-menu ul li {
  list-style: none;
}
.main-menu ul li {
  display: inline-block;
  margin-bottom: 0;
}
.main-menu ul li a {
  padding: 10px 10px 10px 10px;
  font-family: 'open_sansbold', "Helvetica", sans-serif;
  font-size: 16px;
  color: #0c1e4d;
}
.main-menu ul > li > a > i {
  font-size: 12px !important;
  margin-left: 8px;
  line-height: 1;
  color: #7f8c8d;
}
.main-menu ul li.menu-last-item a {
  padding-right: 0;
}
.main-menu > ul > li:hover > a {
  color: #7C7D79;
}
.main-menu > ul > li > a:hover {
  border-bottom: 5px solid #7C7D79;
}
.main-menu > ul > li.current_page_item > a {
  border-bottom: 5px solid #7C7D79;
}
.main-menu li > ul {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: #f5f5f5;
  z-index: 999;
  width: 100%;
  margin-top: -48px;
  display: none;
  padding: 10px 0;
  -webkit-box-shadow: 2px 2px 10px 0px rgba(50, 50, 50, 0.56);
  -moz-box-shadow: 2px 2px 10px 0px rgba(50, 50, 50, 0.56);
  box-shadow: 2px 2px 10px 0px rgba(50, 50, 50, 0.56);
}
.main-menu li > ul > li {
  display: block;
  width: 15.75092%;
  float: left;
  margin-right: 1.0989%;
  display: inline;
}
.main-menu li > ul > li:nth-child(6n) {
  float: right;
  margin-right: 0;
  *margin-left: -12px;
}
.main-menu li > ul > li:last-child {
  border-bottom: none;
}
.main-menu li > ul > li a {
  display: block;
  width: 100%;
  color: #30271e;
  font-family: 'open_sanssemibold', "Helvetica", sans-serif;
  padding: 5px 15px;
  font-size: 12px;
}
.main-menu li > ul > li:hover a {
  color: #5a6465;
}
.main-menu li > ul a.menu-image-title-after {
  text-align: center;
  font-size: 12px;
}
.main-menu li > ul a.menu-image-title-after:after {
  font-family: FontAwesome;
  display: block;
  content: "\f064";
  color: #d31616;
  margin: auto;
}
.main-menu li > ul img.menu-image {
  display: block;
  width: 120px;
  height: auto !important;
  margin: 0 auto 12px auto;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.main-menu li:hover > ul {
  display: block;
}

/*
| ------------------------------------
| Home
| ------------------------------------
*/
.home-services {
  padding: 30px 0;
}
.home-services .service {
  width: 24.17582%;
  float: left;
  margin-right: 1.0989%;
  display: inline;
}
.home-services .service .title {
  position: relative;
}
.home-services .service:nth-child(4n) {
  float: right;
  margin-right: 0;
  *margin-left: -12px;
}
.home-services .service h2 {
  position: absolute;
  color: #fff;
  font-size: 16px;
  bottom: -1px;
  margin-bottom: 0px;
  background-color: #a2a39f;
  background-color: rgba(162, 163, 159, 0.8);
  width: 100%;
  padding: 15px;
}
.home-services .service .des {
  background: #e6e6e6;
  padding: 15px;
  -moz-transition: background 0.3s;
  -o-transition: background 0.3s;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}
.home-services .service .des p {
  margin-bottom: 0px;
  color: #2c2c2c;
  font-size: 13px;
}
.home-services .service .des p a {
  color: #2c2c2c;
  font-size: 13px;
}
.home-services .service .des p a span {
  color: #d61212;
  font-weight: bold;
}

.home-equipment {
  text-align: center;
}
.home-equipment h3 {
  color: #30271e;
  font-size: 24px;
  font-family: 'open_sanssemibold', "Helvetica", sans-serif;
  margin-bottom: 40px;
}
.home-equipment .equipment {
  width: 15.75092%;
  float: left;
  margin-right: 1.0989%;
  display: inline;
}
.home-equipment .equipment:nth-child(6n) {
  float: right;
  margin-right: 0;
  *margin-left: -12px;
}
.home-equipment .equipment img {
  margin-bottom: 20px;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.home-equipment .equipment img:hover {
  opacity: 0.8;
}
.home-equipment .equipment h4 {
  font-size: 13px;
  margin-bottom: 0px;
  font-family: 'open_sanssemibold', "Helvetica", sans-serif;
}
.home-equipment .equipment a i {
  color: #d31616;
}

.home-news {
  margin: 30px 0;
  padding: 40px 0 30px 0;
  background: url(./images/news_bg.jpg) no-repeat;
  background-size: cover;
}
.home-news h5 {
  text-align: center;
  color: #30271e;
  font-size: 24px;
  font-family: 'open_sanssemibold', "Helvetica", sans-serif;
  margin-bottom: 40px;
}
.home-news .news-block {
  width: 32.60073%;
  float: left;
  margin-right: 1.0989%;
  display: inline;
  margin-bottom: 10px;
  background: #fff;
  font-size: 13px;
}
.home-news .news-block:nth-child(3n) {
  float: right;
  margin-right: 0;
  *margin-left: -12px;
}
.home-news .news-block .link {
  font-size: 12px;
  font-family: 'open_sanssemibold', "Helvetica", sans-serif;
  margin-bottom: 0px;
}
.home-news .news-block .link a {
  color: #fd0000;
}
.home-news .news-block a {
  color: #30271e;
}
.home-news .news-block a:hover {
  color: #d61212;
}
.home-news .news-block p {
  font-size: 13px;
  margin-bottom: 0px;
}
.home-news .news-block p a {
  color: #30271e;
}
.home-news .news-block span {
  color: #d61212;
}
.home-news .post-post .image {
  width: 49.45055%;
  float: left;
  margin-right: 1.0989%;
  display: inline;
  position: relative;
}
.home-news .post-post .image img {
  position: relative;
}
.home-news .post-post .image h3 {
  position: absolute;
  font-family: 'open_sanssemibold', "Helvetica", sans-serif;
  color: #fff;
  font-size: 13px;
  bottom: -2px;
  margin-bottom: 0px;
  background-color: #a2a39f;
  background-color: rgba(162, 163, 159, 0.8);
  width: 100%;
  padding: 10px;
}
.home-news .post-post .content {
  width: 49.45055%;
  float: right;
  margin-right: 0;
  *margin-left: -12px;
  display: inline;
  padding: 15px;
}
.home-news .case-studies-post .image {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -12px;
  display: inline;
  position: relative;
}
.home-news .case-studies-post .image img {
  position: relative;
}
.home-news .case-studies-post .image h3 {
  position: absolute;
  font-family: 'open_sanssemibold', "Helvetica", sans-serif;
  color: #fff;
  font-size: 13px;
  bottom: -1px;
  margin-bottom: 0px;
  background-color: #a2a39f;
  background-color: rgba(162, 163, 159, 0.8);
  width: 100%;
  padding: 10px;
}
.home-news .case-studies-post .content {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -12px;
  display: inline;
  padding: 15px;
}

.home-main {
  padding: 30px 0;
}
.home-main .icons {
  width: 41.02564%;
  float: left;
  margin-right: 1.0989%;
  display: inline;
}
.home-main .icons .icon {
  width: 32.60073%;
  float: left;
  margin-right: 1.0989%;
  display: inline;
  margin-bottom: 10px;
}
.home-main .icons .icon:nth-child(3n) {
  float: right;
  margin-right: 0;
  *margin-left: -12px;
}
.home-main .icons .icon .image {
  margin-bottom: 10px;
}
.home-main .content {
  width: 57.87546%;
  float: right;
  margin-right: 0;
  *margin-left: -12px;
  display: inline;
}
.home-main .content h1 {
  font-size: 24px;
  color: #30271e;
}
.home-main .content .about-link {
  margin-top: 25px;
}
.home-main .content .about-link a {
  background: #d31616;
  padding: 10px 20px;
  color: #fff;
  border-radius: 5px;
  font-family: 'open_sanssemibold', "Helvetica", sans-serif;
  -moz-transition: background 0.3s;
  -o-transition: background 0.3s;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}
.home-main .content .about-link a i {
  margin-right: 5px;
}
.home-main .content .about-link a:hover {
  background: #bb1515;
}

/*
| ------------------------------------
| Banner
| ------------------------------------
*/
#home-slider {
  background: none;
  position: relative;
}
#home-slider img {
  width: 100%;
}

.text-outer {
  position: absolute;
  top: 50px;
}

#home-slider .text {
  background-color: #757575;
  background-color: rgba(117, 117, 117, 0.6);
  padding: 20px;
  position: relative;
  text-align: center;
  width: 890px;
  left: 100px;
  color: #fff;
}
#home-slider .text h1 {
  color: #fff;
  margin-bottom: 15px;
  font-size: 64px;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px #353586;
}
#home-slider .text a {
  color: #fff;
}
#home-slider .text a:hover {
  color: #7C7D79;
}
#home-slider .text p {
  margin-bottom: 15px;
  text-shadow: 1px 1px 2px #000;
}

.banner-cta {
  text-shadow: none !important;
  margin-top: 35px;
}
.banner-cta a {
  background: #7C7D79;
  color: #fff;
  padding: 15px 30px;
  border-radius: 5px;
  font-family: 'open_sanssemibold', "Helvetica", sans-serif;
  font-size: 16px;
  -moz-transition: background 0.3s;
  -o-transition: background 0.3s;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}
.banner-cta a i {
  margin-right: 7px;
}
.banner-cta a:hover {
  background: #7d7d7d;
  color: #fff !important;
}

/*
| ------------------------------------
| Page
| ------------------------------------
*/
.page-title-wrapper {
  max-height: 230px;
  overflow: hidden;
  position: relative;
}
.page-title-wrapper img {
  width: 100%;
}
.page-title-wrapper h1 {
  position: absolute;
  top: 40px;
  color: #fff;
  text-shadow: 1px 1px 2px #000;
  background-color: #757575;
  background-color: rgba(117, 117, 117, 0.6);
  padding: 20px;
}
.page-title-wrapper .breadcrumb-wrapper {
  background-color: #757575;
  background-color: rgba(117, 117, 117, 0.6);
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding: 10px 0;
}
.page-title-wrapper .breadcrumb-wrapper .breadcrumbs p {
  margin-bottom: 0px;
  color: #fff;
  font-family: 'open_sanssemibold', "Helvetica", sans-serif;
}
.page-title-wrapper .breadcrumb-wrapper .breadcrumbs p a {
  color: #fff;
}

.ezcol {
  margin-bottom: 15px;
}

.contact-details {
  width: 30%;
  float: left;
}

.enquiry-form {
  width: 60%;
  float: right;
}

/*
| ------------------------------------
| Footer
| ------------------------------------
*/
.main-footer {
  padding: 30px 0;
  background: #f5f5f5;
  border: 1px solid #d8e1f9;
}
.main-footer .footer-col2 {
  width: 32.60073%;
  float: left;
  margin-right: 1.0989%;
  display: inline;
}
.main-footer .footer-col2 h5 {
  color: #30271e;
  font-size: 18px;
  font-family: 'open_sanssemibold', "Helvetica", sans-serif;
}
.main-footer .footer-col2 .tweet-details {
  display: none;
}
.main-footer .footer-col2 ul {
  margin: 0px;
}
.main-footer .footer-col2 ul li {
  list-style: none;
}
.main-footer .footer-col2 ul li a {
  font-family: 'open_sanssemibold', "Helvetica", sans-serif;
  color: #30271e;
}
.main-footer .footer-col3 {
  width: 24.17582%;
  float: right;
  margin-right: 0;
  *margin-left: -12px;
  display: inline;
}
.main-footer .footer-col3 h5 {
  color: #30271e;
  font-size: 18px;
  font-family: 'open_sanssemibold', "Helvetica", sans-serif;
}
.main-footer .footer-col3 ul {
  margin: 0px;
}
.main-footer .footer-col3 ul li {
  list-style: none;
}
.main-footer .footer-col3 ul li a {
  color: #30271e;
}
.main-footer .footer-col1 {
  width: 41.02564%;
  float: left;
  margin-right: 1.0989%;
  display: inline;
}
.main-footer .footer-col1 h5 {
  color: #30271e;
  font-size: 18px;
  font-family: 'open_sanssemibold', "Helvetica", sans-serif;
}
.main-footer .footer-col1 ul {
  margin: 0px 0px 0px 20px;
}
.main-footer .footer-col1 ul li {
  float: left;
  width: 50%;
}
.main-footer .footer-col1 ul li a {
  color: #30271e;
}
.main-footer .footer-col1 ul li a:hover {
  color: #7C7D79;
}

.copyright {
  background: #a2a39e;
  padding: 10px 0;
  color: #fff;
}
.copyright .left {
  width: 66.30037%;
  float: left;
  margin-right: 1.0989%;
  display: inline;
}
.copyright .right {
  width: 32.60073%;
  float: right;
  margin-right: 0;
  *margin-left: -12px;
  display: inline;
}
.copyright .right p {
  float: right;
}
.copyright a {
  color: #fff;
}
.copyright a:hover {
  text-decoration: underline;
}
.copyright p {
  margin-bottom: 0px;
  font-size: 12px;
}

.footer-awards {
  padding: 30px 0;
  background: url(./images/awards_bg.jpg) no-repeat;
  background-size: cover;
  text-align: center;
}
.footer-awards .award {
  width: 15.75092%;
  float: left;
  margin-right: 1.0989%;
  display: inline;
  background: #fff;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}
.footer-awards .award:nth-child(6n) {
  float: right;
  margin-right: 0;
  *margin-left: -12px;
}

.footer-news {
  margin: 0px !important;
}

/*
| ------------------------------------
| Blog, archives etc
| ------------------------------------
*/
/*
| ------------------------------------
| WordPress Generated Classes
| ------------------------------------
*/
.alignnone {
  margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}

.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

a img.alignnone {
  margin: 5px 20px 20px 0;
}

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%;
  /* Image does not overflow the content area */
  padding: 5px 3px 10px;
  text-align: center;
}

.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}

.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}

/*
| ------------------------------------
| WordPress Comments
| ------------------------------------
*/
.comment-content a {
  word-wrap: break-word;
}

.comments-area {
  margin-top: 25px;
}

.comments-title {
  font-size: 18px;
  font-weight: bold;
  border-bottom: 1px solid #bdc3c7;
  padding-bottom: 10px;
}

.comment.odd, .comment.even {
  list-style: none;
}

.comment-list {
  list-style: none;
  margin-left: 0;
  margin-top: 30px;
}

.comment-body {
  padding-bottom: 25px;
  border-bottom: 1px solid #bdc3c7;
  margin-top: 25px;
}

.comment-author img {
  border: 3px solid #ecf0f1;
  margin: 0 10px 10px 0;
}

.comment-author cite {
  font-size: 14px;
  font-weight: bold;
}

.comment-metadata {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}
.comment-metadata a {
  color: #7f8c8d;
}
.comment-metadata a:hover {
  color: #7C7D79;
}

.comment-edit-link {
  font-weight: normal;
  color: #465563;
}

.comment-reply-link {
  font-weight: bold;
  font-size: 14px;
}

.comment-respond {
  background: #f3f3f3;
  padding: 25px;
  margin-top: 25px;
}

.mobile-menu {
  display: none;
}
@media (max-width: 1040px) {
  .mobile-menu {
    display: block;
  }
}

.mobile-menu__toggle h3 {
  display: inline;
  float: right;
  color: #0240dd;
  position: absolute;
  cursor: pointer;
  right: 60px;
  top: 15px;
}
.mobile-menu__toggle h3:last-of-type {
  display: none;
}
.mobile-menu__toggle h3:first-of-type {
  z-index: 500;
}
@media (max-width: 480px) {
  .mobile-menu__toggle h3 {
    display: none;
  }
}
.mobile-menu__menu {
  height: 0px;
  overflow: hidden;
  transition: height 0.5s cubic-bezier(0, 0.65, 1, 1);
  padding-top: 50px;
}
.mobile-menu__menu.open {
  height: 350px;
  overflow: scroll;
}
.mobile-menu__menu ul {
  list-style: none;
  background-color: white;
}
.mobile-menu__menu ul li {
  position: relative;
  display: block;
}
.mobile-menu__menu ul li a {
  border-radius: 4px;
  display: block;
  color: #0240dd;
  font-size: 16px;
  padding: 10px 15px;
}
.mobile-menu__menu ul li a:hover, .mobile-menu__menu ul li a:focus, .mobile-menu__menu ul li a:active {
  color: #0239c4;
  text-decoration: none;
}
.mobile-menu__menu ul li ul {
  margin-top: 0px;
  height: 0px;
  overflow: hidden;
  padding-left: 30px;
}
.mobile-menu__menu ul li ul li a {
  display: block;
  padding: 10px;
}
.mobile-menu__menu ul li ul.open {
  height: auto;
}
.mobile-menu__wrapper {
  background-color: white;
  position: relative;
  z-index: 500;
  width: 100%;
}

.nav-icon {
  display: block;
  width: 40px;
  height: 25px;
  margin-top: 15px;
  margin-bottom: 15px;
  float: right;
  cursor: pointer;
}
.nav-icon.open .b-icon {
  background: none;
}
.nav-icon.open .b-icon:before, .nav-icon.open .b-icon:after {
  top: 0;
}
.nav-icon.open .b-icon:before {
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.nav-icon.open .b-icon:after {
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.b-icon, .b-icon:before, .b-icon:after {
  width: 40px;
  height: 5px;
  background: #0240dd;
  transition: linear all 0.3s;
}

.b-icon {
  position: relative;
  margin: 10px auto 0;
}
.b-icon:before, .b-icon:after {
  content: "";
  position: absolute;
}
.b-icon:before {
  top: -10px;
}
.b-icon:after {
  top: 10px;
}

.row {
  padding: 50px 0;
}
.row.row--primary {
  background-color: #A2A39F;
  color: white;
}
.row.row--primary h2 {
  color: white;
}
.row .inner {
  *zoom: 1;
  max-width: 1090px;
  max-width: 77.85714rem;
  _width: 1090px;
  padding-left: 20px;
  padding-left: 1.42857rem;
  padding-right: 20px;
  padding-right: 1.42857rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 770px;
}
.row .inner:after {
  content: "";
  display: table;
  clear: both;
}

form.wpcf7-form {
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
form.wpcf7-form p {
  width: 100%;
  padding: 0 50px 0 0;
}
@media only screen and (max-width: 600px) {
  form.wpcf7-form p {
    padding: 0;
  }
}
form.wpcf7-form p .wpcf7-form-control-wrap {
  display: block;
  width: 50%;
  margin-top: 5px;
}
@media only screen and (max-width: 600px) {
  form.wpcf7-form p .wpcf7-form-control-wrap {
    width: 100%;
  }
}
form.wpcf7-form p:nth-last-of-type(2) {
  position: absolute;
  right: 0;
  top: 44px;
  width: 50%;
  padding: 0 0 0 50px;
}
@media only screen and (max-width: 600px) {
  form.wpcf7-form p:nth-last-of-type(2) {
    position: relative;
    width: 100%;
    padding: 0;
  }
}
form.wpcf7-form p:nth-last-of-type(2) .wpcf7-form-control-wrap {
  width: 100%;
}
form.wpcf7-form p:last-of-type {
  position: absolute;
  bottom: -16px;
  right: 0;
  width: 50%;
  padding: 0 0 0 50px;
}
@media only screen and (max-width: 600px) {
  form.wpcf7-form p:last-of-type {
    position: relative;
    width: 100%;
    padding: 0;
  }
}
form.wpcf7-form p:last-of-type input {
  width: 100%;
  font-weight: 700;
  text-align: left;
  border: 0;
  background: #1f6fdb;
}
form.wpcf7-form input,
form.wpcf7-form textarea {
  border-radius: 7px;
}

.testimonials-slider {
  position: relative;
  padding: 0 50px;
}
@media only screen and (max-width: 600px) {
  .testimonials-slider {
    padding: 0 25px;
  }
}
.testimonials-slider .slide {
  margin-left: 6px;
  width: calc(100% - 12px);
}
.testimonials-slider .slide .testimonial-content {
  background-color: white;
}

.testimonial-item {
  float: left;
  width: calc((100% / 4) - (12px / 4 * 3));
  margin-right: 12px;
  margin-bottom: 40px;
}
.testimonial-item:nth-of-type(4n) {
  margin-right: 0;
}
@media only screen and (max-width: 800px) {
  .testimonial-item {
    width: calc((100% / 2) - (12px / 2));
  }
  .testimonial-item:nth-of-type(4n) {
    margin-right: 12px;
  }
  .testimonial-item:nth-of-type(2n) {
    margin-right: 0;
  }
}
@media only screen and (max-width: 450px) {
  .testimonial-item {
    width: 100%;
    margin-right: 0;
  }
  .testimonial-item:nth-of-type(4n) {
    margin-right: 0;
  }
  .testimonial-item:nth-of-type(2n) {
    margin-right: 0;
  }
}
.testimonial-item:last-of-type {
  margin-right: 0;
}
.testimonial-item .testimonial-image {
  background-color: #A2A39F;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 180px;
}
.testimonial-item .testimonial-content {
  background-color: #e6e6e6;
  padding: 20px;
}
.testimonial-item .testimonial-content b {
  font-weight: bold;
}

.testimonial-button {
  margin-top: 10px;
  text-align: center;
}
.testimonial-button a {
  background: #A2A39F;
  color: white !important;
  padding: 10px;
  border-radius: 5px;
}
.testimonial-button a .fa {
  margin-right: 5px;
}

.owl-controls .owl-nav .owl-prev,
.owl-controls .owl-nav .owl-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0;
}
.owl-controls .owl-nav .owl-prev:before,
.owl-controls .owl-nav .owl-next:before {
  font-size: 30px;
  color: #A2A39F;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
}
.owl-controls .owl-nav .owl-prev {
  left: 0;
}
.owl-controls .owl-nav .owl-prev:before {
  content: "\f053";
}
.owl-controls .owl-nav .owl-next {
  right: 0;
}
.owl-controls .owl-nav .owl-next:before {
  content: "\f054";
}

/**
 * CONTAINER WIDTH - DONT ALTER
 */
@media only screen and (max-width: 480px) {
  body {
    /*
    | ------------------------------------
    | Primary Naviagtion
    | ------------------------------------
    */
    /*
    | ------------------------------------
    | Page Responsive
    | ------------------------------------
    */
  }
  body .container {
    max-width: 320px;
  }
  body .contact-details {
    width: 100%;
  }
  body .enquiry-form {
    width: 100%;
  }
  body #home-slider .text {
    left: 0px;
    width: 100%;
  }
  body #home-slider .text h1 {
    font-size: 18px;
    margin-bottom: 5px;
  }
  body #home-slider .item img {
    min-height: 170px;
  }
  body .banner-cta {
    margin-top: 10px;
  }
  body .banner-cta a {
    font-size: 12px;
    padding: 7px 12px;
  }
  body #home-slider .text-outer {
    top: 25px;
  }
  body .header-contact {
    background: #7C7D79;
    padding: 3px 0 5px 0;
  }
  body .header-contact .mob-menu {
    display: block;
    width: 7.32601%;
    float: left;
    margin-right: 1.0989%;
    display: inline;
  }
  body .header-contact .details {
    width: 91.57509%;
    float: right;
    margin-right: 0;
    *margin-left: -12px;
    display: inline;
    padding-top: 10px;
  }
  body .header-contact .details ul {
    float: right;
  }
  body .header-contact .details a {
    color: #fff;
    font-size: 11px;
  }
  body .header-contact .details i {
    color: #fff;
  }
  body .header-contact .details .desk {
    display: none;
  }
  body .header-contact .details .mob {
    display: inline-block;
  }
  body .header-contact .top-menu {
    width: 100%;
    float: right;
    margin-right: 0;
    *margin-left: -12px;
    display: inline;
  }
  body .header-contact .top-menu a {
    color: #fff;
  }
  body .header-contact .top-menu #menu-top-menu {
    border-top: 1px solid #fff;
    margin-top: 10px;
    padding-top: 10px;
    width: 100%;
    display: none;
    float: left;
  }
  body .header-contact .top-menu #menu-top-menu li a {
    color: #fff;
    margin-left: 0px;
    margin-right: 5px;
    font-size: 12px;
  }
  body .main-header .main-logo {
    width: 100%;
    float: right;
    margin-right: 0;
    *margin-left: -12px;
    display: inline;
    text-align: center;
    margin-bottom: 15px;
  }
  body .main-header .main-menu {
    width: 100%;
    float: right;
    margin-right: 0;
    *margin-left: -12px;
    display: inline;
  }
  body .main-header .main-menu p {
    float: none !important;
    text-align: center;
  }
  body .main-header .main-menu ul {
    float: none !important;
    text-align: center;
  }
  body #searchbox {
    width: 270px;
  }
  body #home-slider .text {
    left: 0px;
    width: 100%;
  }
  body #home-slider .text h1 {
    font-size: 26px;
    margin-bottom: 10px;
  }
  body .banner-cta {
    margin-top: 15px;
  }
  body .banner-cta a {
    font-size: 13px;
    padding: 7px 12px;
  }
  body #home-slider .text-outer {
    top: 25px;
  }
  body .header-contact {
    background: #7C7D79;
    padding: 3px 0 5px 0;
  }
  body .header-contact .mob-menu {
    display: block;
    width: 7.32601%;
    float: left;
    margin-right: 1.0989%;
    display: inline;
  }
  body .header-contact .details {
    width: 91.57509%;
    float: right;
    margin-right: 0;
    *margin-left: -12px;
    display: inline;
    padding-top: 10px;
  }
  body .header-contact .details ul {
    float: right;
  }
  body .header-contact .details a {
    color: #fff;
    font-size: 11px;
  }
  body .header-contact .details i {
    color: #fff;
  }
  body .header-contact .top-menu {
    width: 100%;
    float: right;
    margin-right: 0;
    *margin-left: -12px;
    display: inline;
  }
  body .header-contact .top-menu a {
    color: #fff;
  }
  body .header-contact .top-menu #menu-top-menu {
    border-top: 1px solid #fff;
    margin-top: 10px;
    padding-top: 10px;
    width: 100%;
    display: none;
    float: left;
  }
  body .header-contact .top-menu #menu-top-menu li a {
    color: #fff;
    margin-left: 0px;
    margin-right: 10px;
  }
  body .main-header .main-logo {
    display: none;
  }
  body .main-header .main-menu {
    display: none;
  }
  body #searchbox {
    width: 400px;
  }
  body #menu-main-menu {
    display: none;
  }
  body .mob-nav {
    display: block;
  }
  body .rel-menu {
    position: relative;
  }
  body .main-menu {
    /*--- dropdowns first level -*/
  }
  body .main-menu ul {
    margin: 0;
    padding: 0;
    float: none;
    background: #7C7D79;
    padding: 10px;
  }
  body .main-menu ul li {
    list-style: none;
  }
  body .main-menu ul li {
    display: list-item;
    margin-bottom: 10px;
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
  }
  body .main-menu ul li a {
    padding: 10px 10px 10px 10px;
    font-family: 'open_sansbold', "Helvetica", sans-serif;
    font-size: 16px;
    color: #fff;
  }
  body .main-menu ul > li > a > i {
    font-size: 12px;
    margin-left: 8px;
    line-height: 1;
    color: #fff !important;
  }
  body .main-menu ul li.menu-last-item a {
    padding-right: 0;
  }
  body .main-menu > ul > li:hover > a {
    color: #fff;
  }
  body .main-menu > ul > li > a:hover {
    border-bottom: none;
  }
  body .main-menu > ul > li.current_page_item > a {
    border-bottom: none;
  }
  body .main-menu li > ul {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #f5f5f5;
    z-index: 999;
    width: 100%;
    margin-top: 0px;
    display: none;
    padding: 10px 10px 10px 0;
    -webkit-box-shadow: 2px 2px 10px 0px rgba(50, 50, 50, 0.56);
    -moz-box-shadow: 2px 2px 10px 0px rgba(50, 50, 50, 0.56);
    box-shadow: 2px 2px 10px 0px rgba(50, 50, 50, 0.56);
  }
  body .main-menu li > ul > li {
    display: block;
    width: 49.45055%;
    float: left;
    margin-right: 1.0989%;
    display: inline;
    border-bottom: none;
  }
  body .main-menu li > ul > li:nth-child(2n) {
    float: right;
    margin-right: 0;
    *margin-left: -12px;
  }
  body .main-menu li > ul > li:last-child {
    border-bottom: none;
  }
  body .main-menu li > ul > li a {
    display: block;
    width: 100%;
    color: #30271e;
    font-family: 'open_sanssemibold', "Helvetica", sans-serif;
    padding: 5px 15px;
    font-size: 13px;
  }
  body .main-menu li > ul > li:hover a {
    color: #5a6465;
  }
  body .main-menu li:hover > ul {
    display: none;
  }
  body .main-menu li.hover > ul {
    display: block;
  }
  body .home-main .icons {
    width: 100%;
    float: right;
    margin-right: 0;
    *margin-left: -12px;
    display: inline;
    margin-bottom: 20px;
  }
  body .home-main .icons .icon {
    text-align: center;
  }
  body .home-main .icons .icon p {
    font-size: 12px;
  }
  body .home-main .content {
    width: 100%;
    float: right;
    margin-right: 0;
    *margin-left: -12px;
    display: inline;
  }
  body .home-services {
    padding: 30px 0 30px 0;
  }
  body .home-services .service {
    width: 100%;
    float: right;
    margin-right: 0;
    *margin-left: -12px;
    display: inline;
    margin-bottom: 15px;
  }
  body .home-services .service h2 {
    font-size: 14px;
  }
  body .home-services .service:nth-child(2n) {
    float: right;
    margin-right: 0;
    *margin-left: -12px;
  }
  body .home-services .service img {
    width: 100%;
  }
  body .home-equipment .equipment {
    width: 49.45055%;
    float: left;
    margin-right: 1.0989%;
    display: inline;
    margin-bottom: 15px;
  }
  body .home-equipment .equipment:nth-child(2n) {
    float: right;
    margin-right: 0;
    *margin-left: -12px;
  }
  body .home-news .news-block {
    width: 100%;
    float: right;
    margin-right: 0;
    *margin-left: -12px;
    display: inline;
  }
  body .home-news .news-block:nth-child(3n) {
    float: left;
    margin-right: 1.0989%;
    *margin-left: auto;
  }
  body .home-news .news-block img {
    width: 100%;
  }
  body .page-title-wrapper {
    max-height: 230px;
    overflow: hidden;
    position: relative;
  }
  body .page-title-wrapper img {
    width: 100%;
  }
  body .page-title-wrapper h1 {
    position: absolute;
    top: 5px;
    color: #fff;
    text-shadow: 1px 1px 2px #000;
    background: url(./images/banner_bg.png);
    padding: 10px;
    font-size: 16px;
  }
  body .page-title-wrapper .breadcrumb-wrapper {
    background: url(./images/breadcrumb_bg.png);
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 5px 0;
  }
  body .page-title-wrapper .breadcrumb-wrapper .breadcrumbs p {
    margin-bottom: 0px;
    color: #fff;
    font-family: 'open_sanssemibold', "Helvetica", sans-serif;
  }
  body .page-title-wrapper .breadcrumb-wrapper .breadcrumbs p a {
    color: #fff;
  }
  body .widget-area {
    width: 100%;
    float: right;
    margin-right: 0;
    *margin-left: -12px;
    display: inline;
  }
  body .entries-list, body .content-left {
    width: 100%;
    float: right;
    margin-right: 0;
    *margin-left: -12px;
    display: inline;
  }
  body .widget-area.right {
    width: 100%;
    float: right;
    margin-right: 0;
    *margin-left: -12px;
    display: inline;
  }
  body .content-right {
    width: 100%;
    float: right;
    margin-right: 0;
    *margin-left: -12px;
    display: inline;
  }
  body .widget-area.left {
    width: 100%;
    float: right;
    margin-right: 0;
    *margin-left: -12px;
    display: inline;
  }
  body .copyright .left {
    width: 100%;
    float: right;
    margin-right: 0;
    *margin-left: -12px;
    display: inline;
  }
  body .copyright .right {
    width: 100%;
    float: right;
    margin-right: 0;
    *margin-left: -12px;
    display: inline;
  }
  body .copyright .right p {
    float: left;
    border-top: 1px solid #fff;
    padding-top: 3px;
    margin-top: 5px;
  }
  body .main-footer .footer-col1 {
    width: 100%;
    float: right;
    margin-right: 0;
    *margin-left: -12px;
    display: inline;
  }
  body .main-footer .footer-col1 ul li {
    width: 100%;
  }
  body .main-footer .footer-col2 {
    width: 100%;
    float: right;
    margin-right: 0;
    *margin-left: -12px;
    display: inline;
    border-top: 1px solid #ddd;
    margin-top: 20px;
    padding-top: 20px;
  }
  body .main-footer .footer-col3 {
    width: 100%;
    float: right;
    margin-right: 0;
    *margin-left: -12px;
    display: inline;
    border-top: 1px solid #ddd;
    margin-top: 20px;
    padding-top: 20px;
  }
  body .footer-awards .award {
    width: 32.60073%;
    float: left;
    margin-right: 1.0989%;
    display: inline;
    margin-bottom: 10px;
  }
  body .footer-awards .award:nth-child(3n) {
    float: right;
    margin-right: 0;
    *margin-left: -12px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 568px) {
  body {
    /*
    | ------------------------------------
    | Primary Naviagtion
    | ------------------------------------
    */
    /*
    | ------------------------------------
    | Page Responsive
    | ------------------------------------
    */
  }
  body .container {
    max-width: 400px;
  }
  body .contact-details {
    width: 100%;
  }
  body .enquiry-form {
    width: 100%;
  }
  body #home-slider .text {
    left: 0px;
    width: 100%;
  }
  body #home-slider .text h1 {
    font-size: 18px;
    margin-bottom: 5px;
  }
  body #home-slider .item img {
    min-height: 170px;
  }
  body .banner-cta {
    margin-top: 10px;
  }
  body .banner-cta a {
    font-size: 12px;
    padding: 7px 12px;
  }
  body #home-slider .text-outer {
    top: 25px;
  }
  body .header-contact {
    background: #7C7D79;
    padding: 3px 0 5px 0;
  }
  body .header-contact .mob-menu {
    display: block;
    width: 7.32601%;
    float: left;
    margin-right: 1.0989%;
    display: inline;
  }
  body .header-contact .details {
    width: 91.57509%;
    float: right;
    margin-right: 0;
    *margin-left: -12px;
    display: inline;
    padding-top: 10px;
  }
  body .header-contact .details ul {
    float: right;
  }
  body .header-contact .details a {
    color: #fff;
    font-size: 11px;
  }
  body .header-contact .details i {
    color: #fff;
  }
  body .header-contact .details .desk {
    display: none;
  }
  body .header-contact .details .mob {
    display: inline-block;
  }
  body .header-contact .top-menu {
    width: 100%;
    float: right;
    margin-right: 0;
    *margin-left: -12px;
    display: inline;
  }
  body .header-contact .top-menu a {
    color: #fff;
  }
  body .header-contact .top-menu #menu-top-menu {
    border-top: 1px solid #fff;
    margin-top: 10px;
    padding-top: 10px;
    width: 100%;
    display: none;
    float: left;
  }
  body .header-contact .top-menu #menu-top-menu li a {
    color: #fff;
    margin-left: 0px;
    margin-right: 5px;
    font-size: 12px;
  }
  body .main-header .main-menu {
    display: none;
  }
  body #searchbox {
    width: 300px;
  }
  body #home-slider .text {
    left: 0px;
    width: 100%;
  }
  body #home-slider .text h1 {
    font-size: 26px;
    margin-bottom: 10px;
  }
  body .banner-cta {
    margin-top: 15px;
  }
  body .banner-cta a {
    font-size: 13px;
    padding: 7px 12px;
  }
  body #home-slider .text-outer {
    top: 25px;
  }
  body .header-contact {
    background: #7C7D79;
    padding: 3px 0 5px 0;
  }
  body .header-contact .mob-menu {
    display: block;
    width: 7.32601%;
    float: left;
    margin-right: 1.0989%;
    display: inline;
  }
  body .header-contact .details {
    width: 91.57509%;
    float: right;
    margin-right: 0;
    *margin-left: -12px;
    display: inline;
    padding-top: 10px;
  }
  body .header-contact .details ul {
    float: right;
  }
  body .header-contact .details a {
    color: #fff;
    font-size: 11px;
  }
  body .header-contact .details i {
    color: #fff;
  }
  body .header-contact .top-menu {
    width: 100%;
    float: right;
    margin-right: 0;
    *margin-left: -12px;
    display: inline;
  }
  body .header-contact .top-menu a {
    color: #fff;
  }
  body .header-contact .top-menu #menu-top-menu {
    border-top: 1px solid #fff;
    margin-top: 10px;
    padding-top: 10px;
    width: 100%;
    display: none;
    float: left;
  }
  body .header-contact .top-menu #menu-top-menu li a {
    color: #fff;
    margin-left: 0px;
    margin-right: 10px;
  }
  body .main-header .main-logo {
    display: none;
  }
  body .main-header .main-menu {
    display: none;
  }
  body #searchbox {
    width: 400px;
  }
  body #menu-main-menu {
    display: none;
  }
  body .mob-nav {
    display: block;
  }
  body .rel-menu {
    position: relative;
  }
  body .main-menu {
    /*--- dropdowns first level -*/
  }
  body .main-menu ul {
    margin: 0;
    padding: 0;
    float: none;
    background: #7C7D79;
    padding: 10px;
  }
  body .main-menu ul li {
    list-style: none;
  }
  body .main-menu ul li {
    display: list-item;
    margin-bottom: 10px;
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
  }
  body .main-menu ul li a {
    padding: 10px 10px 10px 10px;
    font-family: 'open_sansbold', "Helvetica", sans-serif;
    font-size: 16px;
    color: #fff;
  }
  body .main-menu ul > li > a > i {
    font-size: 12px;
    margin-left: 8px;
    line-height: 1;
    color: #fff !important;
  }
  body .main-menu ul li.menu-last-item a {
    padding-right: 0;
  }
  body .main-menu > ul > li:hover > a {
    color: #fff;
  }
  body .main-menu > ul > li > a:hover {
    border-bottom: none;
  }
  body .main-menu > ul > li.current_page_item > a {
    border-bottom: none;
  }
  body .main-menu li > ul {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #f5f5f5;
    z-index: 999;
    width: 100%;
    margin-top: 0px;
    display: none;
    padding: 10px 10px 10px 0;
    -webkit-box-shadow: 2px 2px 10px 0px rgba(50, 50, 50, 0.56);
    -moz-box-shadow: 2px 2px 10px 0px rgba(50, 50, 50, 0.56);
    box-shadow: 2px 2px 10px 0px rgba(50, 50, 50, 0.56);
  }
  body .main-menu li > ul > li {
    display: block;
    width: 24.17582%;
    float: left;
    margin-right: 1.0989%;
    display: inline;
    border-bottom: none;
  }
  body .main-menu li > ul > li:nth-child(4n) {
    float: right;
    margin-right: 0;
    *margin-left: -12px;
  }
  body .main-menu li > ul > li:last-child {
    border-bottom: none;
  }
  body .main-menu li > ul > li a {
    display: block;
    width: 100%;
    color: #30271e;
    font-family: 'open_sanssemibold', "Helvetica", sans-serif;
    padding: 5px 15px;
    font-size: 14px;
  }
  body .main-menu li > ul > li:hover a {
    color: #5a6465;
  }
  body .main-menu li:hover > ul {
    display: none;
  }
  body .main-menu li.hover > ul {
    display: block;
  }
  body .home-main .icons {
    width: 100%;
    float: right;
    margin-right: 0;
    *margin-left: -12px;
    display: inline;
    margin-bottom: 20px;
  }
  body .home-main .icons .icon {
    text-align: center;
  }
  body .home-main .content {
    width: 100%;
    float: right;
    margin-right: 0;
    *margin-left: -12px;
    display: inline;
  }
  body .home-services {
    padding: 30px 0 30px 0;
  }
  body .home-services .service {
    width: 49.45055%;
    float: left;
    margin-right: 1.0989%;
    display: inline;
    margin-bottom: 15px;
  }
  body .home-services .service h2 {
    font-size: 14px;
  }
  body .home-services .service:nth-child(2n) {
    float: right;
    margin-right: 0;
    *margin-left: -12px;
  }
  body .home-equipment .equipment {
    width: 49.45055%;
    float: left;
    margin-right: 1.0989%;
    display: inline;
    margin-bottom: 15px;
  }
  body .home-equipment .equipment:nth-child(2n) {
    float: right;
    margin-right: 0;
    *margin-left: -12px;
  }
  body .home-news .news-block {
    width: 100%;
    float: right;
    margin-right: 0;
    *margin-left: -12px;
    display: inline;
  }
  body .home-news .news-block:nth-child(3n) {
    float: left;
    margin-right: 1.0989%;
    *margin-left: auto;
  }
  body .home-news .news-block img {
    width: 100%;
  }
  body .page-title-wrapper {
    max-height: 230px;
    overflow: hidden;
    position: relative;
  }
  body .page-title-wrapper img {
    width: 100%;
  }
  body .page-title-wrapper h1 {
    position: absolute;
    top: 15px;
    color: #fff;
    text-shadow: 1px 1px 2px #000;
    background: url(./images/banner_bg.png);
    padding: 10px;
    font-size: 18px;
  }
  body .page-title-wrapper .breadcrumb-wrapper {
    background: url(./images/breadcrumb_bg.png);
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 10px 0;
  }
  body .page-title-wrapper .breadcrumb-wrapper .breadcrumbs p {
    margin-bottom: 0px;
    color: #fff;
    font-family: 'open_sanssemibold', "Helvetica", sans-serif;
  }
  body .page-title-wrapper .breadcrumb-wrapper .breadcrumbs p a {
    color: #fff;
  }
  body .widget-area {
    width: 100%;
    float: right;
    margin-right: 0;
    *margin-left: -12px;
    display: inline;
  }
  body .entries-list, body .content-left {
    width: 100%;
    float: right;
    margin-right: 0;
    *margin-left: -12px;
    display: inline;
  }
  body .widget-area.right {
    width: 100%;
    float: right;
    margin-right: 0;
    *margin-left: -12px;
    display: inline;
  }
  body .content-right {
    width: 100%;
    float: right;
    margin-right: 0;
    *margin-left: -12px;
    display: inline;
  }
  body .widget-area.left {
    width: 100%;
    float: right;
    margin-right: 0;
    *margin-left: -12px;
    display: inline;
  }
  body .copyright .left {
    width: 57.87546%;
    float: left;
    margin-right: 1.0989%;
    display: inline;
  }
  body .copyright .right {
    width: 41.02564%;
    float: right;
    margin-right: 0;
    *margin-left: -12px;
    display: inline;
  }
  body .main-footer .footer-col1 {
    width: 100%;
    float: right;
    margin-right: 0;
    *margin-left: -12px;
    display: inline;
  }
  body .main-footer .footer-col1 ul li {
    width: 100%;
  }
  body .main-footer .footer-col2 {
    width: 100%;
    float: right;
    margin-right: 0;
    *margin-left: -12px;
    display: inline;
    border-top: 1px solid #ddd;
    margin-top: 20px;
    padding-top: 20px;
  }
  body .main-footer .footer-col3 {
    width: 100%;
    float: right;
    margin-right: 0;
    *margin-left: -12px;
    display: inline;
    border-top: 1px solid #ddd;
    margin-top: 20px;
    padding-top: 20px;
  }
  body .footer-awards .award {
    width: 32.60073%;
    float: left;
    margin-right: 1.0989%;
    display: inline;
    margin-bottom: 10px;
  }
  body .footer-awards .award:nth-child(3n) {
    float: right;
    margin-right: 0;
    *margin-left: -12px;
  }
}
@media only screen and (min-width: 569px) and (max-width: 768px) {
  body {
    /*
    | ------------------------------------
    | Primary Naviagtion
    | ------------------------------------
    */
    /*
    | ------------------------------------
    | Page Responsive
    | ------------------------------------
    */
  }
  body .container {
    max-width: 560px;
  }
  body .contact-details {
    width: 100%;
  }
  body .enquiry-form {
    width: 100%;
  }
  body #home-slider .text {
    left: 0px;
    width: 100%;
  }
  body #home-slider .text h1 {
    font-size: 26px;
    margin-bottom: 10px;
  }
  body .banner-cta {
    margin-top: 15px;
  }
  body .banner-cta a {
    font-size: 13px;
    padding: 7px 12px;
  }
  body #home-slider .text-outer {
    top: 25px;
  }
  body .header-contact {
    background: #7C7D79;
    padding: 3px 0 5px 0;
  }
  body .header-contact .mob-menu {
    display: block;
    width: 7.32601%;
    float: left;
    margin-right: 1.0989%;
    display: inline;
  }
  body .header-contact .details {
    width: 91.57509%;
    float: right;
    margin-right: 0;
    *margin-left: -12px;
    display: inline;
    padding-top: 10px;
  }
  body .header-contact .details ul {
    float: right;
  }
  body .header-contact .details a {
    color: #fff;
    font-size: 11px;
  }
  body .header-contact .details i {
    color: #fff;
  }
  body .header-contact .top-menu {
    width: 100%;
    float: right;
    margin-right: 0;
    *margin-left: -12px;
    display: inline;
  }
  body .header-contact .top-menu a {
    color: #fff;
  }
  body .header-contact .top-menu #menu-top-menu {
    border-top: 1px solid #fff;
    margin-top: 10px;
    padding-top: 10px;
    width: 100%;
    display: none;
    float: left;
  }
  body .header-contact .top-menu #menu-top-menu li a {
    color: #fff;
    margin-left: 0px;
    margin-right: 10px;
  }
  body .main-header .main-logo {
    display: none;
  }
  body .main-header .main-menu {
    display: none;
  }
  body #searchbox {
    width: 400px;
  }
  body #menu-main-menu {
    display: none;
  }
  body .mob-nav {
    display: block;
  }
  body .rel-menu {
    position: relative;
  }
  body .main-menu {
    /*--- dropdowns first level -*/
  }
  body .main-menu ul {
    margin: 0;
    padding: 0;
    float: none;
    background: #7C7D79;
    padding: 10px;
  }
  body .main-menu ul li {
    list-style: none;
  }
  body .main-menu ul li {
    display: list-item;
    margin-bottom: 10px;
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
  }
  body .main-menu ul li a {
    padding: 10px 10px 10px 10px;
    font-family: 'open_sansbold', "Helvetica", sans-serif;
    font-size: 16px;
    color: #fff;
  }
  body .main-menu ul > li > a > i {
    font-size: 12px;
    margin-left: 8px;
    line-height: 1;
    color: #fff !important;
  }
  body .main-menu ul li.menu-last-item a {
    padding-right: 0;
  }
  body .main-menu > ul > li:hover > a {
    color: #fff;
  }
  body .main-menu > ul > li > a:hover {
    border-bottom: none;
  }
  body .main-menu > ul > li.current_page_item > a {
    border-bottom: none;
  }
  body .main-menu li > ul {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #f5f5f5;
    z-index: 999;
    width: 100%;
    margin-top: 0px;
    display: none;
    padding: 10px 0;
    -webkit-box-shadow: 2px 2px 10px 0px rgba(50, 50, 50, 0.56);
    -moz-box-shadow: 2px 2px 10px 0px rgba(50, 50, 50, 0.56);
    box-shadow: 2px 2px 10px 0px rgba(50, 50, 50, 0.56);
  }
  body .main-menu li > ul > li {
    display: block;
    width: 24.17582%;
    float: left;
    margin-right: 1.0989%;
    display: inline;
    border-bottom: none;
  }
  body .main-menu li > ul > li:nth-child(4n) {
    float: right;
    margin-right: 0;
    *margin-left: -12px;
  }
  body .main-menu li > ul > li:last-child {
    border-bottom: none;
  }
  body .main-menu li > ul > li a {
    display: block;
    width: 100%;
    color: #30271e;
    font-family: 'open_sanssemibold', "Helvetica", sans-serif;
    padding: 5px 15px;
  }
  body .main-menu li > ul > li:hover a {
    color: #5a6465;
  }
  body .main-menu li:hover > ul {
    display: none;
  }
  body .main-menu li.hover > ul {
    display: block;
  }
  body .home-main .icons {
    width: 100%;
    float: right;
    margin-right: 0;
    *margin-left: -12px;
    display: inline;
    margin-bottom: 20px;
  }
  body .home-main .icons .icon {
    text-align: center;
  }
  body .home-main .content {
    width: 100%;
    float: right;
    margin-right: 0;
    *margin-left: -12px;
    display: inline;
  }
  body .home-services {
    padding: 30px 0 30px 0;
  }
  body .home-services .service {
    width: 49.45055%;
    float: left;
    margin-right: 1.0989%;
    display: inline;
    margin-bottom: 15px;
  }
  body .home-services .service h2 {
    font-size: 14px;
  }
  body .home-services .service:nth-child(2n) {
    float: right;
    margin-right: 0;
    *margin-left: -12px;
  }
  body .home-equipment .equipment {
    width: 49.45055%;
    float: left;
    margin-right: 1.0989%;
    display: inline;
    margin-bottom: 15px;
  }
  body .home-equipment .equipment:nth-child(2n) {
    float: right;
    margin-right: 0;
    *margin-left: -12px;
  }
  body .home-news .news-block {
    width: 49.45055%;
    float: left;
    margin-right: 1.0989%;
    display: inline;
  }
  body .home-news .news-block:nth-child(3n) {
    float: left;
    margin-right: 1.0989%;
    *margin-left: auto;
  }
  body .home-news .news-block:nth-child(2n) {
    float: right;
    margin-right: 0;
    *margin-left: -12px;
  }
  body .home-news .news-block img {
    width: 100%;
  }
  body .page-title-wrapper {
    max-height: 230px;
    overflow: hidden;
    position: relative;
  }
  body .page-title-wrapper img {
    width: 100%;
  }
  body .page-title-wrapper h1 {
    position: absolute;
    top: 15px;
    color: #fff;
    text-shadow: 1px 1px 2px #000;
    background: url(./images/banner_bg.png);
    padding: 10px;
    font-size: 18px;
  }
  body .page-title-wrapper .breadcrumb-wrapper {
    background: url(./images/breadcrumb_bg.png);
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 10px 0;
  }
  body .page-title-wrapper .breadcrumb-wrapper .breadcrumbs p {
    margin-bottom: 0px;
    color: #fff;
    font-family: 'open_sanssemibold', "Helvetica", sans-serif;
  }
  body .page-title-wrapper .breadcrumb-wrapper .breadcrumbs p a {
    color: #fff;
  }
  body .copyright .left {
    width: 57.87546%;
    float: left;
    margin-right: 1.0989%;
    display: inline;
  }
  body .copyright .right {
    width: 41.02564%;
    float: right;
    margin-right: 0;
    *margin-left: -12px;
    display: inline;
  }
  body .main-footer .footer-col1 {
    width: 100%;
    float: right;
    margin-right: 0;
    *margin-left: -12px;
    display: inline;
  }
  body .main-footer .footer-col1 ul li {
    width: 100%;
  }
  body .main-footer .footer-col2 {
    width: 100%;
    float: right;
    margin-right: 0;
    *margin-left: -12px;
    display: inline;
    border-top: 1px solid #ddd;
    margin-top: 20px;
    padding-top: 20px;
  }
  body .main-footer .footer-col3 {
    width: 100%;
    float: right;
    margin-right: 0;
    *margin-left: -12px;
    display: inline;
    border-top: 1px solid #ddd;
    margin-top: 20px;
    padding-top: 20px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1040px) {
  body .container {
    max-width: 770px;
  }
  body .contact-details {
    width: 30%;
    float: left;
  }
  body .enquiry-form {
    width: 50%;
    float: right;
  }
  body #home-slider .text {
    left: 0px;
    width: 100%;
  }
  body #home-slider .text h1 {
    font-size: 40px;
  }
  body .header-contact {
    background: #7C7D79;
    padding: 3px 0 5px 0;
  }
  body .header-contact .mob-menu {
    display: block;
  }
  body .header-contact .details {
    width: 83.15018%;
    float: right;
    margin-right: 0;
    *margin-left: -12px;
    display: inline;
    padding-top: 10px;
  }
  body .header-contact .details ul {
    float: right;
  }
  body .header-contact .details a {
    color: #fff;
  }
  body .header-contact .details i {
    color: #fff;
  }
  body .header-contact .top-menu {
    width: 100%;
    float: right;
    margin-right: 0;
    *margin-left: -12px;
    display: inline;
  }
  body .header-contact .top-menu a {
    color: #fff;
  }
  body .header-contact .top-menu #menu-top-menu {
    border-top: 1px solid #fff;
    margin-top: 10px;
    padding-top: 10px;
    width: 100%;
    display: none;
    float: left;
  }
  body .header-contact .top-menu #menu-top-menu li a {
    color: #fff;
    margin-left: 0px;
    margin-right: 10px;
  }
  body .main-header .main-menu {
    display: none;
  }
  body #searchbox {
    width: 600px;
  }
  body .home-main .icons {
    width: 100%;
    float: right;
    margin-right: 0;
    *margin-left: -12px;
    display: inline;
    margin-bottom: 20px;
  }
  body .home-main .icons .icon {
    text-align: center;
  }
  body .home-main .content {
    width: 100%;
    float: right;
    margin-right: 0;
    *margin-left: -12px;
    display: inline;
  }
  body .home-services {
    padding: 30px 0 30px 0;
  }
  body .home-services .service h2 {
    font-size: 14px;
  }
  body .copyright .left {
    width: 57.87546%;
    float: left;
    margin-right: 1.0989%;
    display: inline;
  }
  body .copyright .right {
    width: 41.02564%;
    float: right;
    margin-right: 0;
    *margin-left: -12px;
    display: inline;
  }
  body .main-footer .footer-col1 {
    width: 32.60073%;
    float: left;
    margin-right: 1.0989%;
    display: inline;
  }
  body .main-footer .footer-col1 ul li {
    width: 100%;
  }
  body .main-footer .footer-col2 {
    width: 41.02564%;
    float: left;
    margin-right: 1.0989%;
    display: inline;
  }
}
